## Google Palm LLM & API key setup

In [1]:
from langchain.llms import GooglePalm

In [2]:
!pip install langchain

Defaulting to user installation because normal site-packages is not writeable
Collecting langchain
  Downloading langchain-0.2.1-py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: PyYAML>=5.3 in c:\programdata\anaconda3\lib\site-packages (from langchain) (6.0)
Requirement already satisfied: SQLAlchemy<3,>=1.4 in c:\programdata\anaconda3\lib\site-packages (from langchain) (1.4.39)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.3 in c:\programdata\anaconda3\lib\site-packages (from langchain) (3.8.3)
Collecting langchain-core<0.3.0,>=0.2.0 (from langchain)
  Downloading langchain_core-0.2.1-py3-none-any.whl.metadata (5.9 kB)
Collecting langchain-text-splitters<0.3.0,>=0.2.0 (from langchain)
  Downloading langchain_text_splitters-0.2.0-py3-none-any.whl.metadata (2.2 kB)
Collecting langsmith<0.2.0,>=0.1.17 (from langchain)
  Downloading langsmith-0.1.63-py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: numpy<2,>=1 in c:\programdata\anaconda3\lib\site-packages (from langchain) (1.24.3)
Requirement already satisfied: pydantic<3,>=1 in c:\programdata\anaconda3\lib\site-packages (from langchain) (1.10.12)
Requirement already satisfied: requests<3,>=2 in c:\programdata\anaconda3\lib\site-packages (from langchain) (2.29.0)
Requirement already satisfied: tenacity<9.0.0,>=8.1.0 in c:\programdata\anaconda3\lib\site-packages (from langchain) (8.2.2)
Requirement already satisfied: attrs>=17.3.0 in c:\programdata\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (22.1.0)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in c:\programdata\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (2.0.4)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\programdata\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (6.0.2)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in c:\programdata\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\programdata\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.8.1)
Requirement already satisfied: frozenlist>=1.1.1 in c:\programdata\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.3.3)
Requirement already satisfied: aiosignal>=1.1.2 in c:\programdata\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.2.0)
Collecting jsonpatch<2.0,>=1.33 (from langchain-core<0.3.0,>=0.2.0->langchain)
  Downloading jsonpatch-1.33-py2.py3-none-any.whl.metadata (3.0 kB)
Collecting packaging<24.0,>=23.2 (from langchain-core<0.3.0,>=0.2.0->langchain)
  Downloading packaging-23.2-py3-none-any.whl.metadata (3.2 kB)
Collecting orjson<4.0.0,>=3.9.14 (from langsmith<0.2.0,>=0.1.17->langchain)
  Downloading orjson-3.10.3-cp311-none-win_amd64.whl.metadata (50 kB)
     ---------------------------------------- 0.0/50.9 kB ? eta -:--:--
     -------------------------------- ------- 41.0/50.9 kB 2.0 MB/s eta 0:00:01
     -------------------------------------- 50.9/50.9 kB 521.7 kB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from pydantic<3,>=1->langchain) (4.10.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\home\appdata\roaming\python\python311\site-packages (from requests<3,>=2->langchain) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2->langchain) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2->langchain) (2024.2.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from SQLAlchemy<3,>=1.4->langchain) (2.0.1)
Requirement already satisfied: jsonpointer>=1.9 in c:\programdata\anaconda3\lib\site-packages (from jsonpatch<2.0,>=1.33->langchain-core<0.3.0,>=0.2.0->langchain) (2.1)
Downloading langchain-0.2.1-py3-none-any.whl (973 kB)
   ---------------------------------------- 0.0/973.5 kB ? eta -:--:--
   ------ --------------------------------- 153.6/973.5 kB 4.6 MB/s eta 0:00:01
   ----------- ---------------------------- 286.7/973.5 kB 3.5 MB/s eta 0:00:01
   ----------------------- ---------------- 563.2/973.5 kB 4.4 MB/s eta 0:00:01
   ---------------------------------------  972.8/973.5 kB 5.6 MB/s eta 0:00:01
   ---------------------------------------  972.8/973.5 kB 5.6 MB/s eta 0:00:01
   ---------------------------------------- 973.5/973.5 kB 4.1 MB/s eta 0:00:00
Downloading langchain_core-0.2.1-py3-none-any.whl (308 kB)
   ---------------------------------------- 0.0/308.5 kB ? eta -:--:--
   ---------------------------------------  307.2/308.5 kB 9.6 MB/s eta 0:00:01
   ---------------------------------------- 308.5/308.5 kB 4.7 MB/s eta 0:00:00
Downloading langchain_text_splitters-0.2.0-py3-none-any.whl (23 kB)
Downloading langsmith-0.1.63-py3-none-any.whl (122 kB)
   ---------------------------------------- 0.0/122.8 kB ? eta -:--:--
   ------------------------------------ --- 112.6/122.8 kB ? eta -:--:--
   ---------------------------------------- 122.8/122.8 kB 2.4 MB/s eta 0:00:00
Downloading jsonpatch-1.33-py2.py3-none-any.whl (12 kB)
Downloading orjson-3.10.3-cp311-none-win_amd64.whl (138 kB)
   ---------------------------------------- 0.0/138.8 kB ? eta -:--:--
   -------------------------------------- - 133.1/138.8 kB ? eta -:--:--
   ---------------------------------------- 138.8/138.8 kB 2.1 MB/s eta 0:00:00
Downloading packaging-23.2-py3-none-any.whl (53 kB)
   ---------------------------------------- 0.0/53.0 kB ? eta -:--:--
   -------------------------------------- - 51.2/53.0 kB ? eta -:--:--
   ---------------------------------------- 53.0/53.0 kB 910.0 kB/s eta 0:00:00
Installing collected packages: packaging, orjson, jsonpatch, langsmith, langchain-core, langchain-text-splitters, langchain
Successfully installed jsonpatch-1.33 langchain-0.2.1 langchain-core-0.2.1 langchain-text-splitters-0.2.0 langsmith-0.1.63 orjson-3.10.3 packaging-23.2

  WARNING: The script langsmith.exe is installed in 'C:\Users\Home\AppData\Roaming\Python\Python311\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script langchain-server.exe is installed in 'C:\Users\Home\AppData\Roaming\Python\Python311\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tables 3.8.0 requires blosc2~=2.0.0, which is not installed.
tables 3.8.0 requires cython>=0.29.21, which is not installed.
python-lsp-black 1.2.1 requires black>=22.3.0, but you have black 0.0 which is incompatible.

In [4]:
!pip install langchain langchain_community

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: langchain in c:\users\home\appdata\roaming\python\python311\site-packages (0.2.1)
Collecting langchain_community
  Downloading langchain_community-0.2.1-py3-none-any.whl.metadata (8.9 kB)
Requirement already satisfied: PyYAML>=5.3 in c:\programdata\anaconda3\lib\site-packages (from langchain) (6.0)
Requirement already satisfied: SQLAlchemy<3,>=1.4 in c:\programdata\anaconda3\lib\site-packages (from langchain) (1.4.39)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.3 in c:\programdata\anaconda3\lib\site-packages (from langchain) (3.8.3)
Requirement already satisfied: langchain-core<0.3.0,>=0.2.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from langchain) (0.2.1)
Requirement already satisfied: langchain-text-splitters<0.3.0,>=0.2.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from langchain) (0.2.0)
Requirement already satisfied: langsmith<0.2.0,>=0.1.17 in c:\users\home\appdata\roaming\python\python311\site-packages (from langchain) (0.1.63)
Requirement already satisfied: numpy<2,>=1 in c:\programdata\anaconda3\lib\site-packages (from langchain) (1.24.3)
Requirement already satisfied: pydantic<3,>=1 in c:\programdata\anaconda3\lib\site-packages (from langchain) (1.10.12)
Requirement already satisfied: requests<3,>=2 in c:\programdata\anaconda3\lib\site-packages (from langchain) (2.29.0)
Requirement already satisfied: tenacity<9.0.0,>=8.1.0 in c:\programdata\anaconda3\lib\site-packages (from langchain) (8.2.2)
Collecting dataclasses-json<0.7,>=0.5.7 (from langchain_community)
  Downloading dataclasses_json-0.6.6-py3-none-any.whl.metadata (25 kB)
Requirement already satisfied: attrs>=17.3.0 in c:\programdata\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (22.1.0)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in c:\programdata\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (2.0.4)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\programdata\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (6.0.2)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in c:\programdata\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\programdata\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.8.1)
Requirement already satisfied: frozenlist>=1.1.1 in c:\programdata\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.3.3)
Requirement already satisfied: aiosignal>=1.1.2 in c:\programdata\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.2.0)
Collecting marshmallow<4.0.0,>=3.18.0 (from dataclasses-json<0.7,>=0.5.7->langchain_community)
  Downloading marshmallow-3.21.2-py3-none-any.whl.metadata (7.1 kB)
Collecting typing-inspect<1,>=0.4.0 (from dataclasses-json<0.7,>=0.5.7->langchain_community)
  Downloading typing_inspect-0.9.0-py3-none-any.whl.metadata (1.5 kB)
Requirement already satisfied: jsonpatch<2.0,>=1.33 in c:\users\home\appdata\roaming\python\python311\site-packages (from langchain-core<0.3.0,>=0.2.0->langchain) (1.33)
Requirement already satisfied: packaging<24.0,>=23.2 in c:\users\home\appdata\roaming\python\python311\site-packages (from langchain-core<0.3.0,>=0.2.0->langchain) (23.2)
Requirement already satisfied: orjson<4.0.0,>=3.9.14 in c:\users\home\appdata\roaming\python\python311\site-packages (from langsmith<0.2.0,>=0.1.17->langchain) (3.10.3)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from pydantic<3,>=1->langchain) (4.10.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\home\appdata\roaming\python\python311\site-packages (from requests<3,>=2->langchain) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2->langchain) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2->langchain) (2024.2.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from SQLAlchemy<3,>=1.4->langchain) (2.0.1)
Requirement already satisfied: jsonpointer>=1.9 in c:\programdata\anaconda3\lib\site-packages (from jsonpatch<2.0,>=1.33->langchain-core<0.3.0,>=0.2.0->langchain) (2.1)
Requirement already satisfied: mypy-extensions>=0.3.0 in c:\programdata\anaconda3\lib\site-packages (from typing-inspect<1,>=0.4.0->dataclasses-json<0.7,>=0.5.7->langchain_community) (0.4.3)
Downloading langchain_community-0.2.1-py3-none-any.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   --- ------------------------------------ 0.2/2.1 MB 5.6 MB/s eta 0:00:01
   ---------- ----------------------------- 0.6/2.1 MB 5.8 MB/s eta 0:00:01
   --------------------------- ------------ 1.5/2.1 MB 11.7 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 12.3 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 10.5 MB/s eta 0:00:00
Downloading dataclasses_json-0.6.6-py3-none-any.whl (28 kB)
Downloading marshmallow-3.21.2-py3-none-any.whl (49 kB)
   ---------------------------------------- 0.0/49.3 kB ? eta -:--:--
   ---------------------------------------- 49.3/49.3 kB 1.2 MB/s eta 0:00:00
Downloading typing_inspect-0.9.0-py3-none-any.whl (8.8 kB)
Installing collected packages: typing-inspect, marshmallow, dataclasses-json, langchain_community
Successfully installed dataclasses-json-0.6.6 langchain_community-0.2.1 marshmallow-3.21.2 typing-inspect-0.9.0

In [6]:
!pip install --upgrade langchain langchain_community

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: langchain in c:\users\home\appdata\roaming\python\python311\site-packages (0.2.1)
Requirement already satisfied: langchain_community in c:\users\home\appdata\roaming\python\python311\site-packages (0.2.1)
Requirement already satisfied: PyYAML>=5.3 in c:\programdata\anaconda3\lib\site-packages (from langchain) (6.0)
Requirement already satisfied: SQLAlchemy<3,>=1.4 in c:\programdata\anaconda3\lib\site-packages (from langchain) (1.4.39)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.3 in c:\programdata\anaconda3\lib\site-packages (from langchain) (3.8.3)
Requirement already satisfied: langchain-core<0.3.0,>=0.2.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from langchain) (0.2.1)
Requirement already satisfied: langchain-text-splitters<0.3.0,>=0.2.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from langchain) (0.2.0)
Requirement already satisfied: langsmith<0.2.0,>=0.1.17 in c:\users\home\appdata\roaming\python\python311\site-packages (from langchain) (0.1.63)
Requirement already satisfied: numpy<2,>=1 in c:\programdata\anaconda3\lib\site-packages (from langchain) (1.24.3)
Requirement already satisfied: pydantic<3,>=1 in c:\programdata\anaconda3\lib\site-packages (from langchain) (1.10.12)
Requirement already satisfied: requests<3,>=2 in c:\programdata\anaconda3\lib\site-packages (from langchain) (2.29.0)
Requirement already satisfied: tenacity<9.0.0,>=8.1.0 in c:\programdata\anaconda3\lib\site-packages (from langchain) (8.2.2)
Requirement already satisfied: dataclasses-json<0.7,>=0.5.7 in c:\users\home\appdata\roaming\python\python311\site-packages (from langchain_community) (0.6.6)
Requirement already satisfied: attrs>=17.3.0 in c:\programdata\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (22.1.0)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in c:\programdata\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (2.0.4)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\programdata\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (6.0.2)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in c:\programdata\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\programdata\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.8.1)
Requirement already satisfied: frozenlist>=1.1.1 in c:\programdata\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.3.3)
Requirement already satisfied: aiosignal>=1.1.2 in c:\programdata\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.2.0)
Requirement already satisfied: marshmallow<4.0.0,>=3.18.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from dataclasses-json<0.7,>=0.5.7->langchain_community) (3.21.2)
Requirement already satisfied: typing-inspect<1,>=0.4.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from dataclasses-json<0.7,>=0.5.7->langchain_community) (0.9.0)
Requirement already satisfied: jsonpatch<2.0,>=1.33 in c:\users\home\appdata\roaming\python\python311\site-packages (from langchain-core<0.3.0,>=0.2.0->langchain) (1.33)
Requirement already satisfied: packaging<24.0,>=23.2 in c:\users\home\appdata\roaming\python\python311\site-packages (from langchain-core<0.3.0,>=0.2.0->langchain) (23.2)
Requirement already satisfied: orjson<4.0.0,>=3.9.14 in c:\users\home\appdata\roaming\python\python311\site-packages (from langsmith<0.2.0,>=0.1.17->langchain) (3.10.3)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from pydantic<3,>=1->langchain) (4.10.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\home\appdata\roaming\python\python311\site-packages (from requests<3,>=2->langchain) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2->langchain) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2->langchain) (2024.2.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from SQLAlchemy<3,>=1.4->langchain) (2.0.1)
Requirement already satisfied: jsonpointer>=1.9 in c:\programdata\anaconda3\lib\site-packages (from jsonpatch<2.0,>=1.33->langchain-core<0.3.0,>=0.2.0->langchain) (2.1)
Requirement already satisfied: mypy-extensions>=0.3.0 in c:\programdata\anaconda3\lib\site-packages (from typing-inspect<1,>=0.4.0->dataclasses-json<0.7,>=0.5.7->langchain_community) (0.4.3)

In [27]:
api_key = 'AIzaSyBETYk-crGRPO1DZf_kOpgdPPL_mtCNYo4' # Use own api key

In [28]:
llm = GooglePalm(google_api_key=api_key, temperature=0.2)

In [11]:
!pip install google-generativeai

Defaulting to user installation because normal site-packages is not writeable
Collecting google-generativeai
  Downloading google_generativeai-0.5.4-py3-none-any.whl.metadata (3.9 kB)
Collecting google-ai-generativelanguage==0.6.4 (from google-generativeai)
  Downloading google_ai_generativelanguage-0.6.4-py3-none-any.whl.metadata (5.6 kB)
Collecting google-api-core (from google-generativeai)
  Downloading google_api_core-2.19.0-py3-none-any.whl.metadata (2.7 kB)
Collecting google-api-python-client (from google-generativeai)
  Downloading google_api_python_client-2.130.0-py2.py3-none-any.whl.metadata (6.7 kB)
Requirement already satisfied: google-auth>=2.15.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from google-generativeai) (2.22.0)
Requirement already satisfied: protobuf in c:\users\home\appdata\roaming\python\python311\site-packages (from google-generativeai) (4.23.4)
Requirement already satisfied: pydantic in c:\programdata\anaconda3\lib\site-packages (from google-generativeai) (1.10.12)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from google-generativeai) (4.65.0)
Requirement already satisfied: typing-extensions in c:\users\home\appdata\roaming\python\python311\site-packages (from google-generativeai) (4.10.0)
Collecting proto-plus<2.0.0dev,>=1.22.3 (from google-ai-generativelanguage==0.6.4->google-generativeai)
  Downloading proto_plus-1.23.0-py3-none-any.whl.metadata (2.2 kB)
Collecting googleapis-common-protos<2.0.dev0,>=1.56.2 (from google-api-core->google-generativeai)
  Downloading googleapis_common_protos-1.63.0-py2.py3-none-any.whl.metadata (1.5 kB)
Requirement already satisfied: requests<3.0.0.dev0,>=2.18.0 in c:\programdata\anaconda3\lib\site-packages (from google-api-core->google-generativeai) (2.29.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from google-auth>=2.15.0->google-generativeai) (5.3.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\programdata\anaconda3\lib\site-packages (from google-auth>=2.15.0->google-generativeai) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\home\appdata\roaming\python\python311\site-packages (from google-auth>=2.15.0->google-generativeai) (4.9)
Requirement already satisfied: six>=1.9.0 in c:\programdata\anaconda3\lib\site-packages (from google-auth>=2.15.0->google-generativeai) (1.16.0)
Requirement already satisfied: urllib3<2.0 in c:\programdata\anaconda3\lib\site-packages (from google-auth>=2.15.0->google-generativeai) (1.26.16)
Collecting httplib2<1.dev0,>=0.19.0 (from google-api-python-client->google-generativeai)
  Downloading httplib2-0.22.0-py3-none-any.whl.metadata (2.6 kB)
Collecting google-auth-httplib2<1.0.0,>=0.2.0 (from google-api-python-client->google-generativeai)
  Downloading google_auth_httplib2-0.2.0-py2.py3-none-any.whl.metadata (2.2 kB)
Collecting uritemplate<5,>=3.0.1 (from google-api-python-client->google-generativeai)
  Downloading uritemplate-4.1.1-py2.py3-none-any.whl.metadata (2.9 kB)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from tqdm->google-generativeai) (0.4.6)
Requirement already satisfied: grpcio<2.0dev,>=1.33.2 in c:\users\home\appdata\roaming\python\python311\site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-ai-generativelanguage==0.6.4->google-generativeai) (1.56.2)
Collecting grpcio-status<2.0.dev0,>=1.33.2 (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-ai-generativelanguage==0.6.4->google-generativeai)
  Downloading grpcio_status-1.64.0-py3-none-any.whl.metadata (1.1 kB)
Requirement already satisfied: pyparsing!=3.0.0,!=3.0.1,!=3.0.2,!=3.0.3,<4,>=2.4.2 in c:\programdata\anaconda3\lib\site-packages (from httplib2<1.dev0,>=0.19.0->google-api-python-client->google-generativeai) (3.0.9)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\programdata\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth>=2.15.0->google-generativeai) (0.4.8)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core->google-generativeai) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\home\appdata\roaming\python\python311\site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core->google-generativeai) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core->google-generativeai) (2024.2.2)
INFO: pip is looking at multiple versions of grpcio-status to determine which version is compatible with other requirements. This could take a while.
  Downloading grpcio_status-1.63.0-py3-none-any.whl.metadata (1.1 kB)
  Downloading grpcio_status-1.62.2-py3-none-any.whl.metadata (1.3 kB)
Collecting grpcio<2.0dev,>=1.33.2 (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-ai-generativelanguage==0.6.4->google-generativeai)
  Downloading grpcio-1.64.0-cp311-cp311-win_amd64.whl.metadata (3.4 kB)
Downloading google_generativeai-0.5.4-py3-none-any.whl (150 kB)
   ---------------------------------------- 0.0/150.7 kB ? eta -:--:--
   ---------------- ----------------------- 61.4/150.7 kB 1.1 MB/s eta 0:00:01
   ---------------------------------------- 150.7/150.7 kB 1.8 MB/s eta 0:00:00
Downloading google_ai_generativelanguage-0.6.4-py3-none-any.whl (679 kB)
   ---------------------------------------- 0.0/679.1 kB ? eta -:--:--
   ----------- ---------------------------- 194.6/679.1 kB 3.9 MB/s eta 0:00:01
   --------------------- ------------------ 358.4/679.1 kB 3.7 MB/s eta 0:00:01
   ---------------------------- ----------- 491.5/679.1 kB 3.4 MB/s eta 0:00:01
   ---------------------------------------- 679.1/679.1 kB 3.6 MB/s eta 0:00:00
Downloading google_api_core-2.19.0-py3-none-any.whl (139 kB)
   ---------------------------------------- 0.0/139.0 kB ? eta -:--:--
   ---------------------------------------- 139.0/139.0 kB 8.0 MB/s eta 0:00:00
Downloading google_api_python_client-2.130.0-py2.py3-none-any.whl (11.7 MB)
   ---------------------------------------- 0.0/11.7 MB ? eta -:--:--
   - -------------------------------------- 0.4/11.7 MB 13.2 MB/s eta 0:00:01
   --- ------------------------------------ 1.1/11.7 MB 14.0 MB/s eta 0:00:01
   -------- ------------------------------- 2.5/11.7 MB 19.7 MB/s eta 0:00:01
   ----------- ---------------------------- 3.4/11.7 MB 19.5 MB/s eta 0:00:01
   ---------------- ----------------------- 4.7/11.7 MB 20.1 MB/s eta 0:00:01
   ---------------------- ----------------- 6.4/11.7 MB 22.8 MB/s eta 0:00:01
   -------------------------- ------------- 7.8/11.7 MB 22.7 MB/s eta 0:00:01
   ----------------------------------- ---- 10.4/11.7 MB 26.2 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.7 MB 29.7 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.7 MB 29.7 MB/s eta 0:00:01
   ---------------------------------------- 11.7/11.7 MB 24.2 MB/s eta 0:00:00
Downloading google_auth_httplib2-0.2.0-py2.py3-none-any.whl (9.3 kB)
Downloading googleapis_common_protos-1.63.0-py2.py3-none-any.whl (229 kB)
   ---------------------------------------- 0.0/229.1 kB ? eta -:--:--
   ---------------------------------------- 229.1/229.1 kB 7.1 MB/s eta 0:00:00
Downloading httplib2-0.22.0-py3-none-any.whl (96 kB)
   ---------------------------------------- 0.0/96.9 kB ? eta -:--:--
   ---------------------------------------- 96.9/96.9 kB 5.8 MB/s eta 0:00:00
Downloading proto_plus-1.23.0-py3-none-any.whl (48 kB)
   ---------------------------------------- 0.0/48.8 kB ? eta -:--:--
   ---------------------------------------- 48.8/48.8 kB 1.2 MB/s eta 0:00:00
Downloading uritemplate-4.1.1-py2.py3-none-any.whl (10 kB)
Downloading grpcio_status-1.62.2-py3-none-any.whl (14 kB)
Downloading grpcio-1.64.0-cp311-cp311-win_amd64.whl (4.1 MB)
   ---------------------------------------- 0.0/4.1 MB ? eta -:--:--
   -- ------------------------------------- 0.3/4.1 MB 5.9 MB/s eta 0:00:01
   --------------------- ------------------ 2.2/4.1 MB 20.2 MB/s eta 0:00:01
   ---------------------------------------  4.1/4.1 MB 28.9 MB/s eta 0:00:01
   ---------------------------------------  4.1/4.1 MB 28.9 MB/s eta 0:00:01
   ---------------------------------------- 4.1/4.1 MB 20.1 MB/s eta 0:00:00
Installing collected packages: uritemplate, proto-plus, httplib2, grpcio, googleapis-common-protos, grpcio-status, google-auth-httplib2, google-api-core, google-api-python-client, google-ai-generativelanguage, google-generativeai
  Attempting uninstall: grpcio
    Found existing installation: grpcio 1.56.2
    Uninstalling grpcio-1.56.2:
      Successfully uninstalled grpcio-1.56.2
Successfully installed google-ai-generativelanguage-0.6.4 google-api-core-2.19.0 google-api-python-client-2.130.0 google-auth-httplib2-0.2.0 google-generativeai-0.5.4 googleapis-common-protos-1.63.0 grpcio-1.64.0 grpcio-status-1.62.2 httplib2-0.22.0 proto-plus-1.23.0 uritemplate-4.1.1

### test program

In [29]:
# LLM functionality test
poem = llm("Write a poem on my love for biriyani")

In [30]:
print(poem)

Oh, biryani, you are my one true love,
Your flavors dance on my tongue,
Your aromas fill my senses,
Your textures delight my taste buds.

I love the way you are so hearty and filling,
Yet also light and flavorful.
I love the way you come together in a perfect symphony of flavors,
With each bite a new delight.

I love the way you can be enjoyed on any occasion,
From a casual weeknight meal to a special celebration.
You are always the perfect choice,
And I will never get tired of you.

Oh, biryani, you are my one true love,
And I will love you forever.

## Connect with database and ask some questions (Simple to Complex)

In [32]:
from langchain.utilities import SQLDatabase

# Need to use own username and password
db_user = "root"
db_password = "ayan1996" 
db_host = "localhost"
db_name = "classicmodels"

In [33]:
db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}",sample_rows_in_table_info=3)

In [34]:
print(db.table_info)

CREATE TABLE customers (
	`customerNumber` INTEGER NOT NULL,
	`customerName` VARCHAR(50) NOT NULL,
	`contactLastName` VARCHAR(50) NOT NULL,
	`contactFirstName` VARCHAR(50) NOT NULL,
	phone VARCHAR(50) NOT NULL,
	`addressLine1` VARCHAR(50) NOT NULL,
	`addressLine2` VARCHAR(50),
	city VARCHAR(50) NOT NULL,
	state VARCHAR(50),
	`postalCode` VARCHAR(15),
	country VARCHAR(50) NOT NULL,
	`salesRepEmployeeNumber` INTEGER,
	`creditLimit` DECIMAL(10, 2),
	PRIMARY KEY (`customerNumber`),
	CONSTRAINT customers_ibfk_1 FOREIGN KEY(`salesRepEmployeeNumber`) REFERENCES employees (`employeeNumber`)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from customers table:
customerNumber	customerName	contactLastName	contactFirstName	phone	addressLine1	addressLine2	city	state	postalCode	country	salesRepEmployeeNumber	creditLimit
103	Atelier graphique	Schmitt	Carine 	40.32.2555	54, rue Royale	None	Nantes	None	44000	France	1370	21000.00
112	Signal Gift Stores	King	Jean	7025551838	8489 Strong St.	None	Las Vegas	NV	83030	USA	1166	71800.00
114	Australian Collectors, Co.	Ferguson	Peter	03 9520 4555	636 St Kilda Road	Level 3	Melbourne	Victoria	3004	Australia	1611	117300.00
*/


CREATE TABLE employees (
	`employeeNumber` INTEGER NOT NULL,
	`lastName` VARCHAR(50) NOT NULL,
	`firstName` VARCHAR(50) NOT NULL,
	extension VARCHAR(10) NOT NULL,
	email VARCHAR(100) NOT NULL,
	`officeCode` VARCHAR(10) NOT NULL,
	`reportsTo` INTEGER,
	`jobTitle` VARCHAR(50) NOT NULL,
	PRIMARY KEY (`employeeNumber`),
	CONSTRAINT employees_ibfk_1 FOREIGN KEY(`reportsTo`) REFERENCES employees (`employeeNumber`),
	CONSTRAINT employees_ibfk_2 FOREIGN KEY(`officeCode`) REFERENCES offices (`officeCode`)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from employees table:
employeeNumber	lastName	firstName	extension	email	officeCode	reportsTo	jobTitle
1002	Murphy	Diane	x5800	dmurphy@classicmodelcars.com	1	None	President
1056	Patterson	Mary	x4611	mpatterso@classicmodelcars.com	1	1002	VP Sales
1076	Firrelli	Jeff	x9273	jfirrelli@classicmodelcars.com	1	1002	VP Marketing
*/


CREATE TABLE offices (
	`officeCode` VARCHAR(10) NOT NULL,
	city VARCHAR(50) NOT NULL,
	phone VARCHAR(50) NOT NULL,
	`addressLine1` VARCHAR(50) NOT NULL,
	`addressLine2` VARCHAR(50),
	state VARCHAR(50),
	country VARCHAR(50) NOT NULL,
	`postalCode` VARCHAR(15) NOT NULL,
	territory VARCHAR(10) NOT NULL,
	PRIMARY KEY (`officeCode`)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from offices table:
officeCode	city	phone	addressLine1	addressLine2	state	country	postalCode	territory
1	San Francisco	+1 650 219 4782	100 Market Street	Suite 300	CA	USA	94080	NA
2	Boston	+1 215 837 0825	1550 Court Place	Suite 102	MA	USA	02107	NA
3	NYC	+1 212 555 3000	523 East 53rd Street	apt. 5A	NY	USA	10022	NA
*/


CREATE TABLE orderdetails (
	`orderNumber` INTEGER NOT NULL,
	`productCode` VARCHAR(15) NOT NULL,
	`quantityOrdered` INTEGER NOT NULL,
	`priceEach` DECIMAL(10, 2) NOT NULL,
	`orderLineNumber` SMALLINT NOT NULL,
	PRIMARY KEY (`orderNumber`, `productCode`),
	CONSTRAINT orderdetails_ibfk_1 FOREIGN KEY(`orderNumber`) REFERENCES orders (`orderNumber`),
	CONSTRAINT orderdetails_ibfk_2 FOREIGN KEY(`productCode`) REFERENCES products (`productCode`)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from orderdetails table:
orderNumber	productCode	quantityOrdered	priceEach	orderLineNumber
10100	S18_1749	30	136.00	3
10100	S18_2248	50	55.09	2
10100	S18_4409	22	75.46	4
*/


CREATE TABLE orders (
	`orderNumber` INTEGER NOT NULL,
	`orderDate` DATE NOT NULL,
	`requiredDate` DATE NOT NULL,
	`shippedDate` DATE,
	status VARCHAR(15) NOT NULL,
	comments TEXT,
	`customerNumber` INTEGER NOT NULL,
	PRIMARY KEY (`orderNumber`),
	CONSTRAINT orders_ibfk_1 FOREIGN KEY(`customerNumber`) REFERENCES customers (`customerNumber`)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from orders table:
orderNumber	orderDate	requiredDate	shippedDate	status	comments	customerNumber
10100	2003-01-06	2003-01-13	2003-01-10	Shipped	None	363
10101	2003-01-09	2003-01-18	2003-01-11	Shipped	Check on availability.	128
10102	2003-01-10	2003-01-18	2003-01-14	Shipped	None	181
*/


CREATE TABLE payments (
	`customerNumber` INTEGER NOT NULL,
	`checkNumber` VARCHAR(50) NOT NULL,
	`paymentDate` DATE NOT NULL,
	amount DECIMAL(10, 2) NOT NULL,
	PRIMARY KEY (`customerNumber`, `checkNumber`),
	CONSTRAINT payments_ibfk_1 FOREIGN KEY(`customerNumber`) REFERENCES customers (`customerNumber`)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from payments table:
customerNumber	checkNumber	paymentDate	amount
103	HQ336336	2004-10-19	6066.78
103	JM555205	2003-06-05	14571.44
103	OM314933	2004-12-18	1676.14
*/


CREATE TABLE productlines (
	`productLine` VARCHAR(50) NOT NULL,
	`textDescription` VARCHAR(4000),
	`htmlDescription` MEDIUMTEXT,
	image MEDIUMBLOB,
	PRIMARY KEY (`productLine`)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from productlines table:
productLine	textDescription	htmlDescription	image
Classic Cars	Attention car enthusiasts: Make your wildest car ownership dreams come true. Whether you are looking	None	None
Motorcycles	Our motorcycles are state of the art replicas of classic as well as contemporary motorcycle legends 	None	None
Planes	Unique, diecast airplane and helicopter replicas suitable for collections, as well as home, office o	None	None
*/


CREATE TABLE products (
	`productCode` VARCHAR(15) NOT NULL,
	`productName` VARCHAR(70) NOT NULL,
	`productLine` VARCHAR(50) NOT NULL,
	`productScale` VARCHAR(10) NOT NULL,
	`productVendor` VARCHAR(50) NOT NULL,
	`productDescription` TEXT NOT NULL,
	`quantityInStock` SMALLINT NOT NULL,
	`buyPrice` DECIMAL(10, 2) NOT NULL,
	`MSRP` DECIMAL(10, 2) NOT NULL,
	PRIMARY KEY (`productCode`),
	CONSTRAINT products_ibfk_1 FOREIGN KEY(`productLine`) REFERENCES productlines (`productLine`)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from products table:
productCode	productName	productLine	productScale	productVendor	productDescription	quantityInStock	buyPrice	MSRP
S10_1678	1969 Harley Davidson Ultimate Chopper	Motorcycles	1:10	Min Lin Diecast	This replica features working kickstand, front suspension, gear-shift lever, footbrake lever, drive 	7933	48.81	95.70
S10_1949	1952 Alpine Renault 1300	Classic Cars	1:10	Classic Metal Creations	Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening 	7305	98.58	214.30
S10_2016	1996 Moto Guzzi 1100i	Motorcycles	1:10	Highway 66 Mini Classics	Official Moto Guzzi logos and insignias, saddle bags located on side of motorcycle, detailed engine,	6625	68.99	118.94
*/

In [35]:
from langchain_experimental.sql import SQLDatabaseChain

In [36]:
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)

### Simple queries

In [46]:
qns1 = db_chain.run("Get all orders placed by a specific customer where customer number is 103")

> Entering new SQLDatabaseChain chain...
Get all orders placed by a specific customer where customer number is 103
SQLQuery:SELECT * FROM orders WHERE customerNumber = 103
SQLResult: [(10123, datetime.date(2003, 5, 20), datetime.date(2003, 5, 29), datetime.date(2003, 5, 22), 'Shipped', None, 103), (10298, datetime.date(2004, 9, 27), datetime.date(2004, 10, 5), datetime.date(2004, 10, 1), 'Shipped', None, 103), (10345, datetime.date(2004, 11, 25), datetime.date(2004, 12, 1), datetime.date(2004, 11, 26), 'Shipped', None, 103)]
Answer:10123, 10298, 10345
> Finished chain.

In [47]:
qns1

'10123, 10298, 10345'

In [71]:
qns2 = db_chain.run("Find all customers located in the USA")

> Entering new SQLDatabaseChain chain...
Find all customers located in the USA
SQLQuery:SELECT customerName, city, state, country FROM customers WHERE country = 'USA'
SQLResult: [('Signal Gift Stores', 'Las Vegas', 'NV', 'USA'), ('Mini Gifts Distributors Ltd.', 'San Rafael', 'CA', 'USA'), ('Mini Wheels Co.', 'San Francisco', 'CA', 'USA'), ('Land of Toys Inc.', 'NYC', 'NY', 'USA'), ('Muscle Machine Inc', 'NYC', 'NY', 'USA'), ('Diecast Classics Inc.', 'Allentown', 'PA', 'USA'), ('Technics Stores Inc.', 'Burlingame', 'CA', 'USA'), ('American Souvenirs Inc', 'New Haven', 'CT', 'USA'), ('Cambridge Collectables Co.', 'Cambridge', 'MA', 'USA'), ('Gift Depot Inc.', 'Bridgewater', 'CT', 'USA'), ('Vitachrome Inc.', 'NYC', 'NY', 'USA'), ('Auto-Moto Classics Inc.', 'Brickhaven', 'MA', 'USA'), ('Online Mini Collectables', 'Brickhaven', 'MA', 'USA'), ('Toys4GrownUps.com', 'Pasadena', 'CA', 'USA'), ('Boards & Toys Co.', 'Glendale', 'CA', 'USA'), ('Collectable Mini Designs Co.', 'San Diego', 'CA', 'USA'), ("Marta's Replicas Co.", 'Cambridge', 'MA', 'USA'), ('Mini Classics', 'White Plains', 'NY', 'USA'), ('Mini Creations Ltd.', 'New Bedford', 'MA', 'USA'), ('Corporate Gift Ideas Co.', 'San Francisco', 'CA', 'USA'), ('Tekni Collectables Inc.', 'Newark', 'NJ', 'USA'), ('Classic Gift Ideas, Inc', 'Philadelphia', 'PA', 'USA'), ("Men 'R' US Retailers, Ltd.", 'Los Angeles', 'CA', 'USA'), ('Gifts4AllAges.com', 'Boston', 'MA', 'USA'), ('Online Diecast Creations Co.', 'Nashua', 'NH', 'USA'), ('Collectables For Less Inc.', 'Brickhaven', 'MA', 'USA'), ('Classic Legends Inc.', 'NYC', 'NY', 'USA'), ('Gift Ideas Corp.', 'Glendale', 'CT', 'USA'), ('The Sharp Gifts Warehouse', 'San Jose', 'CA', 'USA'), ('Super Scale Inc.', 'New Haven', 'CT', 'USA'), ('Microscale Inc.', 'NYC', 'NY', 'USA'), ('FunGiftIdeas.com', 'New Bedford', 'MA', 'USA'), ('West Coast Collectables Co.', 'Burbank', 'CA', 'USA'), ('Motor Mint Distributors Inc.', 'Philadelphia', 'PA', 'USA'), ('Signal Collectibles Ltd.', 'Brisbane', 'CA', 'USA'), ('Diecast Collectables', 'Boston', 'MA', 'USA')]
Answer:Signal Gift Stores, Mini Gifts Distributors Ltd., Mini Wheels Co., Land of Toys Inc., Muscle Machine Inc., Diecast Classics Inc., Technics Stores Inc., American Souvenirs Inc, Cambridge Collectables Co., Gift Depot Inc., Vitachrome Inc., Auto-Moto Classics Inc., Online Mini Collectables, Toys4GrownUps.com, Boards & Toys Co., Collectable Mini Designs Co., Marta's Replicas Co., Mini Classics, Mini Creations Ltd., Corporate Gift Ideas Co., Tekni Collectables Inc., Classic Gift Ideas, Inc, Men 'R' US Retailers, Ltd., Gifts4AllAges.com, Online Diecast Creations Co., Collectables For Less Inc., Classic Legends Inc., Gift Ideas Corp., The Sharp Gifts Warehouse, Super Scale Inc., Microscale Inc., FunGiftIdeas.com, West Coast Collectables Co., Motor Mint Distributors Inc., Signal Collectibles Ltd., Diecast Collectables
> Finished chain.

In [72]:
# answer is not showing city, state, country

In [73]:
qns2

"Signal Gift Stores, Mini Gifts Distributors Ltd., Mini Wheels Co., Land of Toys Inc., Muscle Machine Inc., Diecast Classics Inc., Technics Stores Inc., American Souvenirs Inc, Cambridge Collectables Co., Gift Depot Inc., Vitachrome Inc., Auto-Moto Classics Inc., Online Mini Collectables, Toys4GrownUps.com, Boards & Toys Co., Collectable Mini Designs Co., Marta's Replicas Co., Mini Classics, Mini Creations Ltd., Corporate Gift Ideas Co., Tekni Collectables Inc., Classic Gift Ideas, Inc, Men 'R' US Retailers, Ltd., Gifts4AllAges.com, Online Diecast Creations Co., Collectables For Less Inc., Classic Legends Inc., Gift Ideas Corp., The Sharp Gifts Warehouse, Super Scale Inc., Microscale Inc., FunGiftIdeas.com, West Coast Collectables Co., Motor Mint Distributors Inc., Signal Collectibles Ltd., Diecast Collectables"

In [80]:
sql_code2 = """
SELECT * FROM customers WHERE country = 'USA'
 """

qns2 = db_chain.run(sql_code2)

> Entering new SQLDatabaseChain chain...

SELECT * FROM customers WHERE country = 'USA'

SQLQuery:SELECT * FROM customers WHERE country = 'USA'
SQLResult: [(112, 'Signal Gift Stores', 'King', 'Jean', '7025551838', '8489 Strong St.', None, 'Las Vegas', 'NV', '83030', 'USA', 1166, Decimal('71800.00')), (124, 'Mini Gifts Distributors Ltd.', 'Nelson', 'Susan', '4155551450', '5677 Strong St.', None, 'San Rafael', 'CA', '97562', 'USA', 1165, Decimal('210500.00')), (129, 'Mini Wheels Co.', 'Murphy', 'Julie', '6505555787', '5557 North Pendale Street', None, 'San Francisco', 'CA', '94217', 'USA', 1165, Decimal('64600.00')), (131, 'Land of Toys Inc.', 'Lee', 'Kwai', '2125557818', '897 Long Airport Avenue', None, 'NYC', 'NY', '10022', 'USA', 1323, Decimal('114900.00')), (151, 'Muscle Machine Inc', 'Young', 'Jeff', '2125557413', '4092 Furth Circle', 'Suite 400', 'NYC', 'NY', '10022', 'USA', 1286, Decimal('138500.00')), (157, 'Diecast Classics Inc.', 'Leong', 'Kelvin', '2155551555', '7586 Pompton St.', None, 'Allentown', 'PA', '70267', 'USA', 1216, Decimal('100600.00')), (161, 'Technics Stores Inc.', 'Hashimoto', 'Juri', '6505556809', '9408 Furth Circle', None, 'Burlingame', 'CA', '94217', 'USA', 1165, Decimal('84600.00')), (168, 'American Souvenirs Inc', 'Franco', 'Keith', '2035557845', '149 Spinnaker Dr.', 'Suite 101', 'New Haven', 'CT', '97823', 'USA', 1286, Decimal('0.00')), (173, 'Cambridge Collectables Co.', 'Tseng', 'Jerry', '6175555555', '4658 Baden Av.', None, 'Cambridge', 'MA', '51247', 'USA', 1188, Decimal('43400.00')), (175, 'Gift Depot Inc.', 'King', 'Julie', '2035552570', '25593 South Bay Ln.', None, 'Bridgewater', 'CT', '97562', 'USA', 1323, Decimal('84300.00')), (181, 'Vitachrome Inc.', 'Frick', 'Michael', '2125551500', '2678 Kingston Rd.', 'Suite 101', 'NYC', 'NY', '10022', 'USA', 1286, Decimal('76400.00')), (198, 'Auto-Moto Classics Inc.', 'Taylor', 'Leslie', '6175558428', '16780 Pompton St.', None, 'Brickhaven', 'MA', '58339', 'USA', 1216, Decimal('23000.00')), (204, 'Online Mini Collectables', 'Barajas', 'Miguel', '6175557555', '7635 Spinnaker Dr.', None, 'Brickhaven', 'MA', '58339', 'USA', 1188, Decimal('68700.00')), (205, 'Toys4GrownUps.com', 'Young', 'Julie', '6265557265', '78934 Hillside Dr.', None, 'Pasadena', 'CA', '90003', 'USA', 1166, Decimal('90700.00')), (219, 'Boards & Toys Co.', 'Young', 'Mary', '3105552373', '4097 Douglas Av.', None, 'Glendale', 'CA', '92561', 'USA', 1166, Decimal('11000.00')), (239, 'Collectable Mini Designs Co.', 'Thompson', 'Valarie', '7605558146', '361 Furth Circle', None, 'San Diego', 'CA', '91217', 'USA', 1166, Decimal('105000.00')), (286, "Marta's Replicas Co.", 'Hernandez', 'Marta', '6175558555', '39323 Spinnaker Dr.', None, 'Cambridge', 'MA', '51247', 'USA', 1216, Decimal('123700.00')), (319, 'Mini Classics', 'Frick', 'Steve', '9145554562', '3758 North Pendale Street', None, 'White Plains', 'NY', '24067', 'USA', 1323, Decimal('102700.00')), (320, 'Mini Creations Ltd.', 'Huang', 'Wing', '5085559555', '4575 Hillside Dr.', None, 'New Bedford', 'MA', '50553', 'USA', 1188, Decimal('94500.00')), (321, 'Corporate Gift Ideas Co.', 'Brown', 'Julie', '6505551386', '7734 Strong St.', None, 'San Francisco', 'CA', '94217', 'USA', 1165, Decimal('105000.00')), (328, 'Tekni Collectables Inc.', 'Brown', 'William', '2015559350', '7476 Moss Rd.', None, 'Newark', 'NJ', '94019', 'USA', 1323, Decimal('43000.00')), (339, 'Classic Gift Ideas, Inc', 'Cervantes', 'Francisca', '2155554695', '782 First Street', None, 'Philadelphia', 'PA', '71270', 'USA', 1188, Decimal('81100.00')), (347, "Men 'R' US Retailers, Ltd.", 'Chandler', 'Brian', '2155554369', '6047 Douglas Av.', None, 'Los Angeles', 'CA', '91003', 'USA', 1166, Decimal('57700.00')), (362, 'Gifts4AllAges.com', 'Yoshido', 'Juri', '6175559555', '8616 Spinnaker Dr.', None, 'Boston', 'MA', '51003', 'USA', 1216, Decimal('41900.00')), (363, 'Online Diecast Creations Co.', 'Young', 'Dorothy', '6035558647', '2304 Long Airport Avenue', None, 'Nashua', 'NH', '62005', 'USA', 1216, Decimal('114200.00')), (379, 'Collectables For Less Inc.', 'Nelson', 'Allen', '6175558555', '7825 Douglas Av.', None, 'Brickhaven', 'MA', '58339', 'USA', 1188, Decimal('70700.00')), (424, 'Classic Legends Inc.', 'Hernandez', 'Maria', '2125558493', '5905 Pompton St.', 'Suite 750', 'NYC', 'NY', '10022', 'USA', 1286, Decimal('67500.00')), (447, 'Gift Ideas Corp.', 'Lewis', 'Dan', '2035554407', '2440 Pompton St.', None, 'Glendale', 'CT', '97561', 'USA', 1323, Decimal('49700.00')), (450, 'The Sharp Gifts Warehouse', 'Frick', 'Sue', '4085553659', '3086 Ingle Ln.', None, 'San Jose', 'CA', '94217', 'USA', 1165, Decimal('77600.00')), (455, 'Super Scale Inc.', 'Murphy', 'Leslie', '2035559545', '567 North Pendale Street', None, 'New Haven', 'CT', '97823', 'USA', 1286, Decimal('95400.00')), (456, 'Microscale Inc.', 'Choi', 'Yu', '2125551957', '5290 North Pendale Street', 'Suite 200', 'NYC', 'NY', '10022', 'USA', 1286, Decimal('39800.00')), (462, 'FunGiftIdeas.com', 'Benitez', 'Violeta', '5085552555', '1785 First Street', None, 'New Bedford', 'MA', '50553', 'USA', 1216, Decimal('85800.00')), (475, 'West Coast Collectables Co.', 'Thompson', 'Steve', '3105553722', '3675 Furth Circle', None, 'Burbank', 'CA', '94019', 'USA', 1166, Decimal('55400.00')), (486, 'Motor Mint Distributors Inc.', 'Salazar', 'Rosa', '2155559857', '11328 Douglas Av.', None, 'Philadelphia', 'PA', '71270', 'USA', 1323, Decimal('72600.00')), (487, 'Signal Collectibles Ltd.', 'Taylor', 'Sue', '4155554312', '2793 Furth Circle', None, 'Brisbane', 'CA', '94217', 'USA', 1165, Decimal('60300.00')), (495, 'Diecast Collectables', 'Franco', 'Valarie', '6175552555', '6251 Ingle Ln.', None, 'Boston', 'MA', '51003', 'USA', 1188, Decimal('85100.00'))]
Answer:customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit
103,Atelier graphique,Schmitt,Carine ,40.32.2555,54,rue Royale,None,Nantes,None,44000,France,1370,21000.00
> Finished chain.

In [51]:
qns3 = db_chain.run("Show the details of all offices")

> Entering new SQLDatabaseChain chain...
Show the details of all offices
SQLQuery:SELECT * FROM offices
SQLResult: [('1', 'San Francisco', '+1 650 219 4782', '100 Market Street', 'Suite 300', 'CA', 'USA', '94080', 'NA'), ('2', 'Boston', '+1 215 837 0825', '1550 Court Place', 'Suite 102', 'MA', 'USA', '02107', 'NA'), ('3', 'NYC', '+1 212 555 3000', '523 East 53rd Street', 'apt. 5A', 'NY', 'USA', '10022', 'NA'), ('4', 'Paris', '+33 14 723 4404', "43 Rue Jouffroy D'abbans", None, None, 'France', '75017', 'EMEA'), ('5', 'Tokyo', '+81 33 224 5000', '4-1 Kioicho', None, 'Chiyoda-Ku', 'Japan', '102-8578', 'Japan'), ('6', 'Sydney', '+61 2 9264 2451', '5-11 Wentworth Avenue', 'Floor #2', None, 'Australia', 'NSW 2010', 'APAC'), ('7', 'London', '+44 20 7877 2041', '25 Old Broad Street', 'Level 7', None, 'UK', 'EC2N 1HN', 'EMEA')]
Answer:1 | San Francisco | +1 650 219 4782 | 100 Market Street | Suite 300 | CA | USA | 94080 | NA
2 | Boston | +1 215 837 0825 | 1550 Court Place | Suite 102 | MA | USA | 02107 | NA
3 | NYC | +1 212 555 3000 | 523 East 53rd Street | apt. 5A | NY | USA | 10022 | NA
4 | Paris | +33 14 723 4404 | "43 Rue Jouffroy D'abbans" | None | None | France | 75017 | EMEA
5 | Tokyo | +81 33 224 5000 | 4-1 Kioicho | None | Chiyoda-Ku | Japan | 102-8578 | Japan
6 | Sydney | +61 2 9264 2451 | 5-11 Wentworth Avenue | Floor #2 | None | Australia | NSW 2010 | APAC
7 | London | +44 20 7877 2041 | 25 Old Broad Street | Level 7 | None | UK | EC2N 1HN | EMEA
> Finished chain.

In [52]:
qns3

'1 | San Francisco | +1 650 219 4782 | 100 Market Street | Suite 300 | CA | USA | 94080 | NA\n2 | Boston | +1 215 837 0825 | 1550 Court Place | Suite 102 | MA | USA | 02107 | NA\n3 | NYC | +1 212 555 3000 | 523 East 53rd Street | apt. 5A | NY | USA | 10022 | NA\n4 | Paris | +33 14 723 4404 | "43 Rue Jouffroy D\'abbans" | None | None | France | 75017 | EMEA\n5 | Tokyo | +81 33 224 5000 | 4-1 Kioicho | None | Chiyoda-Ku | Japan | 102-8578 | Japan\n6 | Sydney | +61 2 9264 2451 | 5-11 Wentworth Avenue | Floor #2 | None | Australia | NSW 2010 | APAC\n7 | London | +44 20 7877 2041 | 25 Old Broad Street | Level 7 | None | UK | EC2N 1HN | EMEA'

### Intermediate Queries

In [67]:
# need to show all the rows

In [66]:
qns4 = db_chain.run("Find the total number of orders placed by each customer")

> Entering new SQLDatabaseChain chain...
Find the total number of orders placed by each customer
SQLQuery:SELECT customerNumber, count(*) AS numOrders FROM orders GROUP BY customerNumber ORDER BY numOrders DESC
SQLResult: [(141, 26), (124, 17), (114, 5), (353, 5), (145, 5), (148, 5), (323, 5), (381, 4), (276, 4), (119, 4), (121, 4), (128, 4), (131, 4), (144, 4), (496, 4), (151, 4), (157, 4), (161, 4), (166, 4), (450, 4), (282, 4), (398, 4), (382, 4), (321, 4), (103, 3), (112, 3), (129, 3), (167, 3), (448, 3), (172, 3), (452, 3), (175, 3), (333, 3), (181, 3), (186, 3), (187, 3), (458, 3), (198, 3), (201, 3), (462, 3), (471, 3), (205, 3), (209, 3), (486, 3), (216, 3), (233, 3), (242, 3), (250, 3), (278, 3), (146, 3), (311, 3), (314, 3), (320, 3), (324, 3), (328, 3), (334, 3), (350, 3), (357, 3), (362, 3), (363, 3), (379, 3), (385, 3), (386, 3), (406, 3), (412, 3), (424, 3), (447, 3), (171, 2), (173, 2), (177, 2), (189, 2), (202, 2), (204, 2), (211, 2), (227, 2), (319, 2), (239, 2), (339, 2), (344, 2), (347, 2), (299, 2), (256, 2), (219, 2), (260, 2), (259, 2), (456, 2), (286, 2), (298, 2), (249, 2), (473, 2), (475, 2), (484, 2), (240, 2), (487, 2), (489, 2), (495, 2), (455, 2), (415, 1)]
Answer:141, 26
> Finished chain.

In [59]:
qns4

'141, 26'

In [82]:
sql_code4 = """
SELECT customerNumber, COUNT(orderNumber) AS totalOrders FROM orders GROUP BY customerNumber
 """

qns4 = db_chain.run(sql_code4)

> Entering new SQLDatabaseChain chain...

SELECT customerNumber, COUNT(orderNumber) AS totalOrders FROM orders GROUP BY customerNumber

SQLQuery:SELECT customerNumber, COUNT(orderNumber) AS totalOrders FROM orders GROUP BY customerNumber
SQLResult: [(103, 3), (112, 3), (114, 5), (119, 4), (121, 4), (124, 17), (128, 4), (129, 3), (131, 4), (141, 26), (144, 4), (145, 5), (146, 3), (148, 5), (151, 4), (157, 4), (161, 4), (166, 4), (167, 3), (171, 2), (172, 3), (173, 2), (175, 3), (177, 2), (181, 3), (186, 3), (187, 3), (189, 2), (198, 3), (201, 3), (202, 2), (204, 2), (205, 3), (209, 3), (211, 2), (216, 3), (219, 2), (227, 2), (233, 3), (239, 2), (240, 2), (242, 3), (249, 2), (250, 3), (256, 2), (259, 2), (260, 2), (276, 4), (278, 3), (282, 4), (286, 2), (298, 2), (299, 2), (311, 3), (314, 3), (319, 2), (320, 3), (321, 4), (323, 5), (324, 3), (328, 3), (333, 3), (334, 3), (339, 2), (344, 2), (347, 2), (350, 3), (353, 5), (357, 3), (362, 3), (363, 3), (379, 3), (381, 4), (382, 4), (385, 3), (386, 3), (398, 4), (406, 3), (412, 3), (415, 1), (424, 3), (447, 3), (448, 3), (450, 4), (452, 3), (455, 2), (456, 2), (458, 3), (462, 3), (471, 3), (473, 2), (475, 2), (484, 2), (486, 3), (487, 2), (489, 2), (495, 2), (496, 4)]
Answer:(124, 17)
> Finished chain.

In [78]:
qns5 = db_chain.run("Get the average payment amount for customer 350")

> Entering new SQLDatabaseChain chain...
Get the average payment amount for customer 350
SQLQuery:SELECT AVG(amount) FROM payments WHERE customerNumber = 350
SQLResult: [(Decimal('23849.176667'),)]
Answer:23849.176667
> Finished chain.

In [79]:
qns5

'23849.176667'

In [83]:
qns6 = db_chain.run("Find products with a price greater than $50")

> Entering new SQLDatabaseChain chain...
Find products with a price greater than $50
SQLQuery:SELECT productCode, productName, productLine, productScale, productVendor, productDescription, quantityInStock, buyPrice, MSRP FROM products WHERE buyPrice > 50.00
SQLResult: [('S10_1949', '1952 Alpine Renault 1300', 'Classic Cars', '1:10', 'Classic Metal Creations', 'Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening trunk; opening doors; and detailed chassis.', 7305, Decimal('98.58'), Decimal('214.30')), ('S10_2016', '1996 Moto Guzzi 1100i', 'Motorcycles', '1:10', 'Highway 66 Mini Classics', 'Official Moto Guzzi logos and insignias, saddle bags located on side of motorcycle, detailed engine, working steering, working suspension, two leather seats, luggage rack, dual exhaust pipes, small saddle bag located on handle bars, two-tone paint with chrome accents, superior die-cast detail ,...', 6625, Decimal('68.99'), Decimal('118.94')), ('S10_4698', '2003 Harley-Davidson Eagle Drag Bike', 'Motorcycles', '1:10', 'Red Start Diecast', 'Model features, official Harley Davidson logos and insignias, detachable rear wheelie bar, heavy diecast metal with resin parts, authentic multi-color tampo-printed graphics, separate engine drive belts, free-turning front fork, rotating tires and rear racing slick, certificate of authenticity,...', 5582, Decimal('91.02'), Decimal('193.66')), ('S10_4757', '1972 Alfa Romeo GTA', 'Classic Cars', '1:10', 'Motor City Art Classics', 'Features include: Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening trunk; opening doors; and detailed chassis.', 3252, Decimal('85.68'), Decimal('136.00')), ('S10_4962', '1962 LanciaA Delta 16V', 'Classic Cars', '1:10', 'Second Gear Diecast', 'Features include: Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening trunk; opening doors; and detailed chassis.', 6791, Decimal('103.42'), Decimal('147.74')), ('S12_1099', '1968 Ford Mustang', 'Classic Cars', '1:12', 'Autoart Studio Design', 'Hood, doors and trunk all open to reveal highly detailed interior features. Steering wheel actually turns the front wheels. Color dark green.', 68, Decimal('95.34'), Decimal('194.57')), ('S12_1108', '2001 Ferrari Enzo', 'Classic Cars', '1:12', 'Second Gear Diecast', 'Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening trunk; opening doors; and detailed chassis.', 3619, Decimal('95.59'), Decimal('207.80')), ('S12_1666', '1958 Setra Bus', 'Trucks and Buses', '1:12', 'Welly Diecast Productions', 'Model features 30 windows, skylights & glare resistant glass, working steering system, original logos', 1579, Decimal('77.90'), Decimal('136.67')), ('S12_2823', '2002 Suzuki XREO', 'Motorcycles', '1:12', 'Unimax Art Galleries', 'Official logos and insignias, saddle bags located on side of motorcycle, detailed engine, working steering, working suspension, two leather seats, luggage rack, dual exhaust pipes, small saddle bag located on handle bars, two-tone paint with chrome accents, superior die-cast detail , rotating...', 9997, Decimal('66.27'), Decimal('150.62')), ('S12_3148', '1969 Corvair Monza', 'Classic Cars', '1:18', 'Welly Diecast Productions', '1:18 scale die-cast about 10" long doors open, hood opens, trunk opens and wheels roll', 6906, Decimal('89.14'), Decimal('151.08')), ('S12_3380', '1968 Dodge Charger', 'Classic Cars', '1:12', 'Welly Diecast Productions', '1:12 scale model of a 1968 Dodge Charger. Hood, doors and trunk all open to reveal highly detailed interior features. Steering wheel actually turns the front wheels. Color black', 9123, Decimal('75.16'), Decimal('117.44')), ('S12_3891', '1969 Ford Falcon', 'Classic Cars', '1:12', 'Second Gear Diecast', 'Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening trunk; opening doors; and detailed chassis.', 1049, Decimal('83.05'), Decimal('173.02')), ('S12_4473', '1957 Chevy Pickup', 'Trucks and Buses', '1:12', 'Exoto Designs', '1:12 scale die-cast about 20" long Hood opens, Rubber wheels', 6125, Decimal('55.70'), Decimal('118.50')), ('S12_4675', '1969 Dodge Charger', 'Classic Cars', '1:12', 'Welly Diecast Productions', 'Detailed model of the 1969 Dodge Charger. This model includes finely detailed interior and exterior features. Painted in red and white.', 7323, Decimal('58.73'), Decimal('115.16')), ('S18_1097', '1940 Ford Pickup Truck', 'Trucks and Buses', '1:18', 'Studio M Art Models', 'This model features soft rubber tires, working steering, rubber mud guards, authentic Ford logos, detailed undercarriage, opening doors and hood,  removable split rear gate, full size spare mounted in bed, detailed interior with opening glove box', 2613, Decimal('58.33'), Decimal('116.67')), ('S18_1129', '1993 Mazda RX-7', 'Classic Cars', '1:18', 'Highway 66 Mini Classics', 'This model features, opening hood, opening doors, detailed engine, rear spoiler, opening trunk, working steering, tinted windows, baked enamel finish. Color red.', 3975, Decimal('83.51'), Decimal('141.54')), ('S18_1342', '1937 Lincoln Berline', 'Vintage Cars', '1:18', 'Motor City Art Classics', 'Features opening engine cover, doors, trunk, and fuel filler cap. Color black', 8693, Decimal('60.62'), Decimal('102.74')), ('S18_1589', '1965 Aston Martin DB5', 'Classic Cars', '1:18', 'Classic Metal Creations', 'Die-cast model of the silver 1965 Aston Martin DB5 in silver. This model includes full wire wheels and doors that open with fully detailed passenger compartment. In 1:18 scale, this model measures approximately 10 inches/20 cm long.', 9042, Decimal('65.96'), Decimal('124.44')), ('S18_1662', '1980s Black Hawk Helicopter', 'Planes', '1:18', 'Red Start Diecast', "1:18 scale replica of actual Army's UH-60L BLACK HAWK Helicopter. 100% hand-assembled. Features rotating rotor blades, propeller blades and rubber wheels.", 5330, Decimal('77.27'), Decimal('157.69')), ('S18_1749', '1917 Grand Touring Sedan', 'Vintage Cars', '1:18', 'Welly Diecast Productions', 'This 1:18 scale replica of the 1917 Grand Touring car has all the features you would expect from museum quality reproductions: all four doors and bi-fold hood opening, detailed engine and instrument panel, chrome-look trim, and tufted upholstery, all topped off with a factory baked-enamel finish.', 2724, Decimal('86.70'), Decimal('170.00')), ('S18_1889', '1948 Porsche 356-A Roadster', 'Classic Cars', '1:18', 'Gearbox Collectibles', 'This precision die-cast replica features opening doors, superb detail and craftsmanship, working steering system, opening forward compartment, opening rear trunk with removable spare, 4 wheel independent spring suspension as well as factory baked enamel finish.', 8826, Decimal('53.90'), Decimal('77.00')), ('S18_1984', '1995 Honda Civic', 'Classic Cars', '1:18', 'Min Lin Diecast', 'This model features, opening hood, opening doors, detailed engine, rear spoiler, opening trunk, working steering, tinted windows, baked enamel finish. Color yellow.', 9772, Decimal('93.89'), Decimal('142.25')), ('S18_2238', '1998 Chrysler Plymouth Prowler', 'Classic Cars', '1:18', 'Gearbox Collectibles', 'Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening trunk; opening doors; and detailed chassis.', 4724, Decimal('101.51'), Decimal('163.73')), ('S18_2319', '1964 Mercedes Tour Bus', 'Trucks and Buses', '1:18', 'Unimax Art Galleries', 'Exact replica. 100+ parts. working steering system, original logos', 8258, Decimal('74.86'), Decimal('122.73')), ('S18_2325', '1932 Model A Ford J-Coupe', 'Vintage Cars', '1:18', 'Autoart Studio Design', 'This model features grille-mounted chrome horn, lift-up louvered hood, fold-down rumble seat, working steering system, chrome-covered spare, opening doors, detailed and wired engine', 9354, Decimal('58.48'), Decimal('127.13')), ('S18_2795', '1928 Mercedes-Benz SSK', 'Vintage Cars', '1:18', 'Gearbox Collectibles', 'This 1:18 replica features grille-mounted chrome horn, lift-up louvered hood, fold-down rumble seat, working steering system, chrome-covered spare, opening doors, detailed and wired engine. Color black.', 548, Decimal('72.56'), Decimal('168.75')), ('S18_2870', '1999 Indy 500 Monte Carlo SS', 'Classic Cars', '1:18', 'Red Start Diecast', 'Features include opening and closing doors. Color: Red', 8164, Decimal('56.76'), Decimal('132.00')), ('S18_2949', '1913 Ford Model T Speedster', 'Vintage Cars', '1:18', 'Carousel DieCast Legends', 'This 250 part reproduction includes moving handbrakes, clutch, throttle and foot pedals, squeezable horn, detailed wired engine, removable water, gas, and oil cans, pivoting monocle windshield, all topped with a baked enamel red finish. Each replica comes with an Owners Title and Certificate of...', 4189, Decimal('60.78'), Decimal('101.31')), ('S18_3029', '1999 Yamaha Speed Boat', 'Ships', '1:18', 'Min Lin Diecast', 'Exact replica. Wood and Metal. Many extras including rigging, long boats, pilot house, anchors, etc. Comes with three masts, all square-rigged.', 4259, Decimal('51.61'), Decimal('86.02')), ('S18_3136', '18th Century Vintage Horse Carriage', 'Vintage Cars', '1:18', 'Red Start Diecast', 'Hand crafted diecast-like metal horse carriage is re-created in about 1:18 scale of antique horse carriage. This antique style metal Stagecoach is all hand-assembled with many different parts.\r\n\r\nThis collectible metal horse carriage is painted in classic Red, and features turning steering wheel...', 5992, Decimal('60.74'), Decimal('104.72')), ('S18_3140', '1903 Ford Model A', 'Vintage Cars', '1:18', 'Unimax Art Galleries', 'Features opening trunk,  working steering system', 3913, Decimal('68.30'), Decimal('136.59')), ('S18_3232', '1992 Ferrari 360 Spider red', 'Classic Cars', '1:18', 'Unimax Art Galleries', 'his replica features opening doors, superb detail and craftsmanship, working steering system, opening forward compartment, opening rear trunk with removable spare, 4 wheel independent spring suspension as well as factory baked enamel finish.', 8347, Decimal('77.90'), Decimal('169.34')), ('S18_3233', '1985 Toyota Supra', 'Classic Cars', '1:18', 'Highway 66 Mini Classics', 'This model features soft rubber tires, working steering, rubber mud guards, authentic Ford logos, detailed undercarriage, opening doors and hood, removable split rear gate, full size spare mounted in bed, detailed interior with opening glove box', 7733, Decimal('57.01'), Decimal('107.57')), ('S18_3259', 'Collectable Wooden Train', 'Trains', '1:18', 'Carousel DieCast Legends', 'Hand crafted wooden toy train set is in about 1:18 scale, 25 inches in total length including 2 additional carts, of actual vintage train. This antique style wooden toy train model set is all hand-assembled with 100% wood.', 6450, Decimal('67.56'), Decimal('100.84')), ('S18_3320', '1917 Maxwell Touring Car', 'Vintage Cars', '1:18', 'Exoto Designs', 'Features Gold Trim, Full Size Spare Tire, Chrome Trim, Chrome Grille, Opening Hood, Opening Doors, Opening Trunk, Detailed Engine, Working Steering System', 7913, Decimal('57.54'), Decimal('99.21')), ('S18_3482', '1976 Ford Gran Torino', 'Classic Cars', '1:18', 'Gearbox Collectibles', 'Highly detailed 1976 Ford Gran Torino "Starsky and Hutch" diecast model. Very well constructed and painted in red and white patterns.', 9127, Decimal('73.49'), Decimal('146.99')), ('S18_3685', '1948 Porsche Type 356 Roadster', 'Classic Cars', '1:18', 'Gearbox Collectibles', 'This model features working front and rear suspension on accurately replicated and actuating shock absorbers as well as opening engine cover, rear stabilizer flap,  and 4 opening doors.', 8990, Decimal('62.16'), Decimal('141.28')), ('S18_3856', '1941 Chevrolet Special Deluxe Cabriolet', 'Vintage Cars', '1:18', 'Exoto Designs', 'Features opening hood, opening doors, opening trunk, wide white wall tires, front door arm rests, working steering system, leather upholstery. Color black.', 2378, Decimal('64.58'), Decimal('105.87')), ('S18_4027', '1970 Triumph Spitfire', 'Classic Cars', '1:18', 'Min Lin Diecast', 'Features include opening and closing doors. Color: White.', 5545, Decimal('91.92'), Decimal('143.62')), ('S18_4522', '1904 Buick Runabout', 'Vintage Cars', '1:18', 'Exoto Designs', 'Features opening trunk,  working steering system', 8290, Decimal('52.66'), Decimal('87.77')), ('S18_4600', '1940s Ford truck', 'Trucks and Buses', '1:18', 'Motor City Art Classics', "This 1940s Ford Pick-Up truck is re-created in 1:18 scale of original 1940s Ford truck. This antique style metal 1940s Ford Flatbed truck is all hand-assembled. This collectible 1940's Pick-Up truck is painted in classic dark green color, and features rotating wheels.", 3128, Decimal('84.76'), Decimal('121.08')), ('S18_4721', '1957 Corvette Convertible', 'Classic Cars', '1:18', 'Classic Metal Creations', '1957 die cast Corvette Convertible in Roman Red with white sides and whitewall tires. 1:18 scale quality die-cast with detailed engine and underbvody. Now you can own The Classic Corvette.', 1249, Decimal('69.93'), Decimal('148.80')), ('S24_1578', '1997 BMW R 1100 S', 'Motorcycles', '1:24', 'Autoart Studio Design', 'Detailed scale replica with working suspension and constructed from over 70 parts', 7003, Decimal('60.86'), Decimal('112.70')), ('S24_1785', '1928 British Royal Navy Airplane', 'Planes', '1:24', 'Classic Metal Creations', 'Official logos and insignias', 3627, Decimal('66.74'), Decimal('109.42')), ('S24_2011', '18th century schooner', 'Ships', '1:24', 'Carousel DieCast Legends', 'All wood with canvas sails. Many extras including rigging, long boats, pilot house, anchors, etc. Comes with 4 masts, all square-rigged.', 1898, Decimal('82.34'), Decimal('122.89')), ('S24_2300', '1962 Volkswagen Microbus', 'Trucks and Buses', '1:24', 'Autoart Studio Design', 'This 1:18 scale die cast replica of the 1962 Microbus is loaded with features: A working steering system, opening front doors and tailgate, and famous two-tone factory baked enamel finish, are all topped of by the sliding, real fabric, sunroof.', 2327, Decimal('61.34'), Decimal('127.79')), ('S24_2887', '1952 Citroen-15CV', 'Classic Cars', '1:24', 'Exoto Designs', 'Precision crafted hand-assembled 1:18 scale reproduction of the 1952 15CV, with its independent spring suspension, working steering system, opening doors and hood, detailed engine and instrument panel, all topped of with a factory fresh baked enamel finish.', 1452, Decimal('72.82'), Decimal('117.44')), ('S24_3191', '1969 Chevrolet Camaro Z28', 'Classic Cars', '1:24', 'Exoto Designs', '1969 Z/28 Chevy Camaro 1:24 scale replica. The operating parts of this limited edition 1:24 scale diecast model car 1969 Chevy Camaro Z28- hood, trunk, wheels, streering, suspension and doors- are particularly delicate due to their precise scale and require special care and attention.', 4695, Decimal('50.51'), Decimal('85.61')), ('S24_3432', '2002 Chevy Corvette', 'Classic Cars', '1:24', 'Gearbox Collectibles', 'The operating parts of this limited edition Diecast 2002 Chevy Corvette 50th Anniversary Pace car Limited Edition are particularly delicate due to their precise scale and require special care and attention. Features rotating wheels, poseable streering, opening doors and trunk.', 9446, Decimal('62.11'), Decimal('107.08')), ('S24_3856', '1956 Porsche 356A Coupe', 'Classic Cars', '1:18', 'Classic Metal Creations', 'Features include: Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening trunk; opening doors; and detailed chassis.', 6600, Decimal('98.30'), Decimal('140.43')), ('S24_4048', '1992 Porsche Cayenne Turbo Silver', 'Classic Cars', '1:24', 'Exoto Designs', 'This replica features opening doors, superb detail and craftsmanship, working steering system, opening forward compartment, opening rear trunk with removable spare, 4 wheel independent spring suspension as well as factory baked enamel finish.', 6582, Decimal('69.78'), Decimal('118.28')), ('S24_4258', '1936 Chrysler Airflow', 'Vintage Cars', '1:24', 'Second Gear Diecast', 'Features opening trunk,  working steering system. Color dark green.', 4710, Decimal('57.46'), Decimal('97.39')), ('S32_1268', '1980s GM Manhattan Express', 'Trucks and Buses', '1:32', 'Motor City Art Classics', 'This 1980s era new look Manhattan express is still active, running from the Bronx to mid-town Manhattan. Has 35 opeining windows and working lights. Needs a battery.', 5099, Decimal('53.93'), Decimal('96.31')), ('S32_1374', '1997 BMW F650 ST', 'Motorcycles', '1:32', 'Exoto Designs', 'Features official die-struck logos and baked enamel finish. Comes with stand.', 178, Decimal('66.92'), Decimal('99.89')), ('S32_4485', '1974 Ducati 350 Mk3 Desmo', 'Motorcycles', '1:32', 'Second Gear Diecast', 'This model features two-tone paint with chrome accents, superior die-cast detail , rotating wheels , working kick stand', 3341, Decimal('56.13'), Decimal('102.05')), ('S50_1392', 'Diamond T620 Semi-Skirted Tanker', 'Trucks and Buses', '1:50', 'Highway 66 Mini Classics', 'This limited edition model is licensed and perfectly scaled for Lionel Trains. The Diamond T620 has been produced in solid precision diecast and painted with a fire baked enamel finish. It comes with a removable tanker and is a perfect model to add authenticity to your static train or car layout...', 1016, Decimal('68.29'), Decimal('115.75')), ('S700_1691', 'American Airlines: B767-300', 'Planes', '1:700', 'Min Lin Diecast', 'Exact replia with official logos and insignias and retractable wheels', 5841, Decimal('51.15'), Decimal('91.34')), ('S700_2466', 'America West Airlines B757-200', 'Planes', '1:700', 'Motor City Art Classics', 'Official logos and insignias. Working steering system. Rotating jet engines', 9653, Decimal('68.80'), Decimal('99.72')), ('S700_2834', 'ATA: B757-300', 'Planes', '1:700', 'Highway 66 Mini Classics', 'Exact replia with official logos and insignias and retractable wheels', 7106, Decimal('59.33'), Decimal('118.65')), ('S700_3167', 'F/A 18 Hornet 1/72', 'Planes', '1:72', 'Motor City Art Classics', '10" Wingspan with retractable landing gears.Comes with pilot', 551, Decimal('54.40'), Decimal('80.00')), ('S700_3505', 'The Titanic', 'Ships', '1:700', 'Carousel DieCast Legends', 'Completed model measures 19 1/2 inches long, 9 inches high, 3inches wide and is in barn red/black. All wood and metal.', 1956, Decimal('51.09'), Decimal('100.17')), ('S700_3962', 'The Queen Mary', 'Ships', '1:700', 'Welly Diecast Productions', 'Exact replica. Wood and Metal. Many extras including rigging, long boats, pilot house, anchors, etc. Comes with three masts, all square-rigged.', 5088, Decimal('53.63'), Decimal('99.31'))]

In [84]:
qns6

"[['S10_1949', '1952 Alpine Renault 1300', 'Classic Cars', '1:10', 'Classic Metal Creations', 'Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening trunk; opening doors; and detailed chassis.', 7305, Decimal('98.58'), Decimal('214.30')], ['S10_2016', '1996 Moto Guzzi 1100i', 'Motorcycles', '1:10', 'Highway 66 Mini Classics', 'Official Moto Guzzi logos and insignias, saddle bags located on side of motorcycle, detailed engine, working steering, working suspension, two leather seats, luggage rack, dual exhaust pipes, small saddle bag located on handle bars, two-tone paint with chrome accents, superior die-cast detail , rotating wheels , working kick stand', 6625, Decimal('68.99'), Decimal('150.62')], ['S12_1099', '1968 Ford Mustang', 'Classic Cars', '1:12', 'Autoart Studio Design', 'Hood, doors and trunk all open to reveal highly detailed interior features. Steering wheel actually turns the front wheels. Color dark green.', 68, Decimal('95.34'), Decimal('194.57')], ['S12_1108', '2001 Ferrari Enzo', 'Classic Cars', '1:12', 'Second Gear Diecast', 'Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening trunk; opening doors; and detailed chassis.', 3619, Decimal('95.59'), Decimal('207.80')], ['S12_1666', '1958 Setra Bus', 'Trucks and Buses', '1:12', 'Welly Diecast Productions', 'Model features 30 windows, skylights & glare resistant glass, working steering system, original logos', 1579, Decimal('77.90'), Decimal('136.67')], ['S12_2319', '1964 Mercedes Tour Bus', 'Trucks and Buses', '1:12', 'Unimax Art Galleries', 'Exact replica. 100+ parts. working steering system, original logos', 8258, Decimal('74.86'), Decimal('122.73')], ['S12_2325', '1932 Model A Ford J-Coupe', 'Vintage Cars', '1:12', 'Autoart Studio Design', 'This model features grille-mounted chrome horn, lift-up louvered hood, fold-down rumble seat, working steering system, chrome-covered spare, opening doors, detailed engine and instrument panel', 9354, Decimal('58.48'), Decimal('127.13')], ['S12_2795', '1928 Mercedes-Benz SSK', 'Vintage Cars', '1:12', 'Gearbox Collectibles', 'This 1:12 replica features grille-mounted chrome horn, lift-up louvered hood, fold-down rumble seat, working steering system, chrome-covered spare, opening doors, detailed engine and instrument panel. Color black.', 548, Decimal('72.56'), Decimal('168.75')], ['S12_2870', '1999 Indy 500 Monte Carlo SS', 'Classic Cars', '1:12', 'Red Start Diecast', 'Features include opening and closing doors. Color: Red', 8164, Decimal('56.76'), Decimal('132.00')], ['S12_2949', '1913 Ford Model T Speedster', 'Vintage Cars', '1:"

In [85]:
qns7 = db_chain.run("Get the total number of products in each product line")

> Entering new SQLDatabaseChain chain...
Get the total number of products in each product line
SQLQuery:SELECT productLine, COUNT(*) AS total_products FROM products GROUP BY productLine
SQLResult: [('Classic Cars', 38), ('Motorcycles', 13), ('Planes', 12), ('Ships', 9), ('Trains', 3), ('Trucks and Buses', 11), ('Vintage Cars', 24)]
Answer:Classic Cars 38, Motorcycles 13, Planes 12, Ships 9, Trains 3, Trucks and Buses 11, Vintage Cars 24
> Finished chain.

In [86]:
qns7

'Classic Cars 38, Motorcycles 13, Planes 12, Ships 9, Trains 3, Trucks and Buses 11, Vintage Cars 24'

### Advanced Queries

In [87]:
qns8 = db_chain.run("Find the top 5 customers with the highest payment amounts")

> Entering new SQLDatabaseChain chain...
Find the top 5 customers with the highest payment amounts
SQLQuery:SELECT customerNumber, SUM(amount) AS total_amount FROM payments GROUP BY customerNumber ORDER BY total_amount DESC LIMIT 5
SQLResult: [(141, Decimal('715738.98')), (124, Decimal('584188.24')), (114, Decimal('180585.07')), (151, Decimal('177913.95')), (148, Decimal('156251.03'))]
Answer:141, 124, 114, 151, 148
> Finished chain.

In [88]:
qns8

'141, 124, 114, 151, 148'

In [95]:
qns9 = db_chain.run("List the products that have not been ordered yet")

> Entering new SQLDatabaseChain chain...
List the products that have not been ordered yet
SQLQuery:SELECT productCode, productName, productLine, productScale, productVendor, productDescription, quantityInStock, buyPrice, MSRP FROM products WHERE productCode NOT IN (SELECT productCode FROM orderdetails)
SQLResult: [('S18_3233', '1985 Toyota Supra', 'Classic Cars', '1:18', 'Highway 66 Mini Classics', 'This model features soft rubber tires, working steering, rubber mud guards, authentic Ford logos, detailed undercarriage, opening doors and hood, removable split rear gate, full size spare mounted in bed, detailed interior with opening glove box', 7733, Decimal('57.01'), Decimal('107.57'))]
Answer:S18_3233 1985 Toyota Supra Classic Cars 1:18 Highway 66 Mini Classics
> Finished chain.

In [96]:
qns9

'S18_3233 1985 Toyota Supra Classic Cars 1:18 Highway 66 Mini Classics'

##### Error encountered

In [100]:
qns10 = db_chain.run("Find the employee with the highest total sales")

> Entering new SQLDatabaseChain chain...
Find the employee with the highest total sales
SQLQuery:SELECT employeeNumber, SUM(quantityOrdered * priceEach) AS totalSales
FROM orderdetails
JOIN orders ON orders.orderNumber = orderdetails.orderNumber
GROUP BY employeeNumber
ORDER BY totalSales DESC
LIMIT 1

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'employeeNumber' in 'field list'")
[SQL: SELECT employeeNumber, SUM(quantityOrdered * priceEach) AS totalSales
FROM orderdetails
JOIN orders ON orders.orderNumber = orderdetails.orderNumber
GROUP BY employeeNumber
ORDER BY totalSales DESC
LIMIT 1]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [101]:
sql_code10 = """
SELECT e.employeeNumber, e.firstName, e.lastName, SUM(p.amount) AS totalSales
FROM employees e
JOIN customers c ON e.employeeNumber = c.salesRepEmployeeNumber
JOIN payments p ON c.customerNumber = p.customerNumber
GROUP BY e.employeeNumber, e.firstName, e.lastName
ORDER BY totalSales DESC
LIMIT 1;

 """

qns10 = db_chain.run(sql_code10)

> Entering new SQLDatabaseChain chain...

SELECT e.employeeNumber, e.firstName, e.lastName, SUM(p.amount) AS totalSales
FROM employees e
JOIN customers c ON e.employeeNumber = c.salesRepEmployeeNumber
JOIN payments p ON c.customerNumber = p.customerNumber
GROUP BY e.employeeNumber, e.firstName, e.lastName
ORDER BY totalSales DESC
LIMIT 1;


SQLQuery:SELECT e.employeeNumber, e.firstName, e.lastName, SUM(p.amount) AS totalSales
FROM employees e
JOIN customers c ON e.employeeNumber = c.salesRepEmployeeNumber
JOIN payments p ON c.customerNumber = p.customerNumber
GROUP BY e.employeeNumber, e.firstName, e.lastName
ORDER BY totalSales DESC
LIMIT 1;
SQLResult: [(1370, 'Gerard', 'Hernandez', Decimal('1112003.81'))]
Answer:Gerard Hernandez
> Finished chain.

### Complex Queries

In [113]:
qns11 = db_chain.run("Find the total sales amount (sum of payments) for each product line")

> Entering new SQLDatabaseChain chain...
Find the total sales amount (sum of payments) for each product line
SQLQuery:SELECT productLine, SUM(amount) AS total_sales FROM payments JOIN orders ON payments.customerNumber = orders.customerNumber JOIN orderdetails ON orders.orderNumber = orderdetails.orderNumber JOIN products ON orderdetails.productCode = products.productCode GROUP BY productLine
SQLResult: [('Classic Cars', Decimal('195715285.48')), ('Motorcycles', Decimal('48280743.43')), ('Vintage Cars', Decimal('112040838.12')), ('Planes', Decimal('44171665.16')), ('Trucks and Buses', Decimal('65447435.69')), ('Ships', Decimal('39892604.12')), ('Trains', Decimal('19127343.02'))]
Answer:Classic Cars: 195715285.48, Motorcycles: 48280743.43, Vintage Cars: 112040838.12, Planes: 44171665.16, Trucks and Buses: 65447435.69, Ships: 39892604.12, Trains: 19127343.02
> Finished chain.

In [114]:
qns11

'Classic Cars: 195715285.48, Motorcycles: 48280743.43, Vintage Cars: 112040838.12, Planes: 44171665.16, Trucks and Buses: 65447435.69, Ships: 39892604.12, Trains: 19127343.02'

In [117]:
qns12 = db_chain.run("List all employees who report to a specific manager (e.g., employee number 1143)")

> Entering new SQLDatabaseChain chain...
List all employees who report to a specific manager (e.g., employee number 1143)
SQLQuery:SELECT employeeNumber, lastName, firstName, jobTitle FROM employees WHERE reportsTo = 1143
SQLResult: [(1165, 'Jennings', 'Leslie', 'Sales Rep'), (1166, 'Thompson', 'Leslie', 'Sales Rep'), (1188, 'Firrelli', 'Julie', 'Sales Rep'), (1216, 'Patterson', 'Steve', 'Sales Rep'), (1286, 'Tseng', 'Foon Yue', 'Sales Rep'), (1323, 'Vanauf', 'George', 'Sales Rep')]
Answer:employeeNumber, lastName, firstName, jobTitle
1165, Jennings, Leslie, Sales Rep
1166, Thompson, Leslie, Sales Rep
1188, Firrelli, Julie, Sales Rep
1216, Patterson, Steve, Sales Rep
1286, Tseng, Foon Yue, Sales Rep
1323, Vanauf, George, Sales Rep
> Finished chain.

In [118]:
qns12

'employeeNumber, lastName, firstName, jobTitle\n1165, Jennings, Leslie, Sales Rep\n1166, Thompson, Leslie, Sales Rep\n1188, Firrelli, Julie, Sales Rep\n1216, Patterson, Steve, Sales Rep\n1286, Tseng, Foon Yue, Sales Rep\n1323, Vanauf, George, Sales Rep'

In [119]:
qns13 = db_chain.run("Get the product lines that have more than 5 products")

> Entering new SQLDatabaseChain chain...
Get the product lines that have more than 5 products
SQLQuery:SELECT productLine FROM products GROUP BY productLine HAVING COUNT(*) > 5
SQLResult: [('Classic Cars',), ('Motorcycles',), ('Planes',), ('Ships',), ('Trucks and Buses',), ('Vintage Cars',)]
Answer:Classic Cars, Motorcycles, Planes, Ships, Trucks and Buses, Vintage Cars
> Finished chain.

In [120]:
qns14 = db_chain.run("List the top 3 products in terms of total quantity ordered")

> Entering new SQLDatabaseChain chain...
List the top 3 products in terms of total quantity ordered
SQLQuery:SELECT productCode, SUM(quantityOrdered) AS totalQuantityOrdered FROM orderdetails GROUP BY productCode ORDER BY totalQuantityOrdered DESC LIMIT 3
SQLResult: [('S18_3232', Decimal('1808')), ('S18_1342', Decimal('1111')), ('S700_4002', Decimal('1085'))]
Answer:S18_3232, S18_1342, S700_4002
> Finished chain.

In [121]:
sql_code14 = """
SELECT p.productName, SUM(od.quantityOrdered) AS totalQuantity
FROM products p
JOIN orderdetails od ON p.productCode = od.productCode
GROUP BY p.productName
ORDER BY totalQuantity DESC
LIMIT 3;

 """

qns14 = db_chain.run(sql_code14)

> Entering new SQLDatabaseChain chain...

SELECT p.productName, SUM(od.quantityOrdered) AS totalQuantity
FROM products p
JOIN orderdetails od ON p.productCode = od.productCode
GROUP BY p.productName
ORDER BY totalQuantity DESC
LIMIT 3;


SQLQuery:SELECT p.productName, SUM(od.quantityOrdered) AS totalQuantity
FROM products p
JOIN orderdetails od ON p.productCode = od.productCode
GROUP BY p.productName
ORDER BY totalQuantity DESC
LIMIT 3;
SQLResult: [('1992 Ferrari 360 Spider red', Decimal('1808')), ('1937 Lincoln Berline', Decimal('1111')), ('American Airlines: MD-11S', Decimal('1085'))]
Answer:1992 Ferrari 360 Spider red, 1937 Lincoln Berline, American Airlines: MD-11S
> Finished chain.

In [124]:
qns15 = db_chain.run("Find the customers who have not placed any orders in the current year")

> Entering new SQLDatabaseChain chain...
Find the customers who have not placed any orders in the current year
SQLQuery:SELECT customerName FROM customers WHERE customerNumber NOT IN (SELECT customerNumber FROM orders WHERE orderDate BETWEEN '2023-01-01' AND CURDATE())
SQLResult: [('Atelier graphique',), ('Signal Gift Stores',), ('Australian Collectors, Co.',), ('La Rochelle Gifts',), ('Baane Mini Imports',), ('Mini Gifts Distributors Ltd.',), ('Havel & Zbyszek Co',), ('Blauer See Auto, Co.',), ('Mini Wheels Co.',), ('Land of Toys Inc.',), ('Euro+ Shopping Channel',), ('Volvo Model Replicas, Co',), ('Danish Wholesale Imports',), ('Saveley & Henriot, Co.',), ('Dragon Souveniers, Ltd.',), ('Muscle Machine Inc',), ('Diecast Classics Inc.',), ('Technics Stores Inc.',), ('Handji Gifts& Co',), ('Herkku Gifts',), ('American Souvenirs Inc',), ('Porto Imports Co.',), ('Daedalus Designs Imports',), ("La Corne D'abondance, Co.",), ('Cambridge Collectables Co.',), ('Gift Depot Inc.',), ('Osaka Souveniers Co.',), ('Vitachrome Inc.',), ('Toys of Finland, Co.',), ('AV Stores, Co.',), ('Clover Collections, Co.',), ('Auto-Moto Classics Inc.',), ('UK Collectables, Ltd.',), ('Canadian Gift Exchange Network',), ('Online Mini Collectables',), ('Toys4GrownUps.com',), ('Asian Shopping Network, Co',), ('Mini Caravy',), ('King Kong Collectables, Co.',), ('Enaco Distributors',), ('Boards & Toys Co.',), ('Natrlich Autos',), ('Heintze Collectables',), ('Qubec Home Shopping Network',), ('ANG Resellers',), ('Collectable Mini Designs Co.',), ('giftsbymail.co.uk',), ('Alpha Cognac',), ('Messner Shopping Network',), ('Amica Models & Co.',), ('Lyon Souveniers',), ('Auto Associs & Cie.',), ('Toms Spezialitten, Ltd',), ('Royal Canadian Collectables, Ltd.',), ('Franken Gifts, Co',), ("Anna's Decorations, Ltd",), ('Rovelli Gifts',), ('Souveniers And Things Co.',), ("Marta's Replicas Co.",), ('BG&E Collectables',), ('Vida Sport, Ltd',), ('Norway Gifts By Mail, Co.',), ('Schuyler Imports',), ('Der Hund Imports',), ('Oulu Toy Supplies, Inc.',), ('Petit Auto',), ('Mini Classics',), ('Mini Creations Ltd.',), ('Corporate Gift Ideas Co.',), ('Down Under Souveniers, Inc',), ('Stylish Desk Decors, Co.',), ('Tekni Collectables Inc.',), ('Australian Gift Network, Co',), ('Suominen Souveniers',), ('Cramer Spezialitten, Ltd',), ('Classic Gift Ideas, Inc',), ('CAF Imports',), ("Men 'R' US Retailers, Ltd.",), ('Asian Treasures, Inc.',), ('Marseille Mini Autos',), ('Reims Collectables',), ('SAR Distributors, Co',), ('GiftsForHim.com',), ('Kommission Auto',), ('Gifts4AllAges.com',), ('Online Diecast Creations Co.',), ('Lisboa Souveniers, Inc',), ('Precious Collectables',), ('Collectables For Less Inc.',), ('Royale Belge',), ('Salzburg Collectables',), ('Cruz & Sons Co.',), ("L'ordine Souveniers",), ('Tokyo Collectables, Ltd',), ('Auto Canal+ Petit',), ('Stuttgart Collectable Exchange',), ('Extreme Desk Decorations, Ltd',), ('Bavarian Collectables Imports, Co.',), ('Classic Legends Inc.',), ('Feuer Online Stores, Inc',), ('Gift Ideas Corp.',), ('Scandinavian Gift Ideas',), ('The Sharp Gifts Warehouse',), ('Mini Auto Werke',), ('Super Scale Inc.',), ('Microscale Inc.',), ('Corrida Auto Replicas, Ltd',), ('Warburg Exchange',), ('FunGiftIdeas.com',), ('Anton Designs, Ltd.',), ('Australian Collectables, Ltd',), ('Frau da Collezione',), ('West Coast Collectables Co.',), ('Mit Vergngen & Co.',), ('Kremlin Collectables, Co.',), ('Raanan Stores, Inc',), ('Iberia Gift Imports, Corp.',), ('Motor Mint Distributors Inc.',), ('Signal Collectibles Ltd.',), ('Double Decker Gift Stores, Ltd',), ('Diecast Collectables',), ("Kelly's Gift Shop",)]
Answer:Atelier graphique, Signal Gift Stores, Australian Collectors, Co., La Rochelle Gifts, Banee Mini Imports, Mini Gifts Distributors Ltd., Havel & Zbyszek Co, Blauer See Auto, Co., Mini Wheels Co., Land of Toys Inc., Euro+ Shopping Channel, Volvo Model Replicas, Co, Danish Wholesale Imports, Saveley & Henriot, Co., Dragon Souveniers, Ltd., Muscle Machine Inc, Diecast Classics Inc., Technics Stores Inc., Handji Gifts& Co, Herkku Gifts, American Souvenirs Inc, Porto Imports Co., Daedalus Designs Imports, La Corne D'abondance, Co., Cambridge Collectables Co., Gift Depot Inc., Osaka Souveniers Co., Vitachrome Inc., Toys of Finland, Co., AV Stores, Co., Clover Collections, Co., Auto-Moto Classics Inc., UK Collectables, Ltd., Canadian Gift Exchange Network, Online Mini Collectables, Toys4GrownUps.com, Asian Shopping Network, Co, Mini Caravy, King Kong Collectables, Co., Enaco Distributors, Boards & Toys Co., Natrlich Autos, Heintze Collectables, Qubec Home Shopping Network, ANG Resellers, Collectable Mini Designs Co., giftsbymail.co.uk, Alpha Cognac, Messner Shopping Network, Amica Models & Co., Lyon Souveniers, Auto Associs & Cie., Toms Spezialitten, Ltd, Royal Canadian Collectables, Ltd., Franken Gifts, Co, Anna's Decorations, Ltd, Rovelli Gifts, Souvenirs And Things Co., Marta's Replicas Co., BG&E Collectables, Vida Sport, Ltd, Norway Gifts By Mail, Co., Schuyler Imports, Der Hund Imports, Oulu Toy Supplies, Inc., Petit Auto, Mini Classics, Mini Creations Ltd., Corporate Gift Ideas Co., Down Under Souveniers, Inc, Stylish Desk Decors, Co., Tekni Collectables Inc., Australian Gift Network, Co, Suominen Souveniers, Cramer Spezialitten, Ltd, Classic Gift Ideas, Inc, CAF Imports, Men 'R' US Retailers, Ltd., Asian Treasures, Inc., Marseille Mini Autos, Reims Collectables, SAR Distributors, Co, GiftsForHim.com, Kommission Auto, Gifts4AllAges.com, Online Diecast Creations Co., Lisboa Souveniers, Inc, Precious Collectables, Collectables For Less Inc., Royale Belge, Salzburg Collectables, Cruz & Sons Co., L'ordine Souveniers, Tokyo Collectables, Ltd, Auto Canal+ Petit, Stuttgart Collectable Exchange, Extreme Desk Decorations, Ltd, Bavarian Collectables Imports, Co., Classic Legends Inc., Feuer Online Stores, Inc, Gift Ideas Corp., Scandinavian Gift Ideas, The Sharp Gifts Warehouse, Mini Auto Werke, Super Scale Inc., Microscale Inc., Corrida Auto Replicas, Ltd, Warburg Exchange, FunGiftIdeas.com, Anton Designs, Ltd., Australian Collectables, Ltd, Frau da Collezione, West Coast Collectables Co., Mit Vergngen & Co., Kremlin Collectables, Co., Raanan Stores, Inc, Iberia Gift Imports, Corp., Motor Mint Distributors Inc., Signal Collectibles Ltd., Double Decker Gift Stores, Ltd, Diecast Collectables, Kelly's Gift Shop
> Finished chain.

##### Error encountered

In [125]:
qns16 = db_chain.run("List the employees who have handled the highest number of distinct customers")

> Entering new SQLDatabaseChain chain...
List the employees who have handled the highest number of distinct customers
SQLQuery:SELECT employeeNumber, COUNT(DISTINCT customerNumber) AS numCustomers
FROM orders
GROUP BY employeeNumber
ORDER BY numCustomers DESC
LIMIT 5

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'employeeNumber' in 'field list'")
[SQL: SELECT employeeNumber, COUNT(DISTINCT customerNumber) AS numCustomers
FROM orders
GROUP BY employeeNumber
ORDER BY numCustomers DESC
LIMIT 5]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [126]:
sql_code16 = """
SELECT e.employeeNumber, e.firstName, e.lastName, COUNT(DISTINCT c.customerNumber) AS customerCount
FROM employees e
JOIN customers c ON e.employeeNumber = c.salesRepEmployeeNumber
GROUP BY e.employeeNumber, e.firstName, e.lastName
ORDER BY customerCount DESC
LIMIT 5;

 """

qns16 = db_chain.run(sql_code16)

> Entering new SQLDatabaseChain chain...

SELECT e.employeeNumber, e.firstName, e.lastName, COUNT(DISTINCT c.customerNumber) AS customerCount
FROM employees e
JOIN customers c ON e.employeeNumber = c.salesRepEmployeeNumber
GROUP BY e.employeeNumber, e.firstName, e.lastName
ORDER BY customerCount DESC
LIMIT 5;


SQLQuery:SELECT e.employeeNumber, e.firstName, e.lastName, COUNT(DISTINCT c.customerNumber) AS customerCount
FROM employees e
JOIN customers c ON e.employeeNumber = c.salesRepEmployeeNumber
GROUP BY e.employeeNumber, e.firstName, e.lastName
ORDER BY customerCount DESC
LIMIT 5;
SQLResult: [(1401, 'Pamela', 'Castillo', 10), (1504, 'Barry', 'Jones', 9), (1501, 'Larry', 'Bott', 8), (1323, 'George', 'Vanauf', 8), (1286, 'Foon Yue', 'Tseng', 7)]
Answer:(1401, 'Pamela', 'Castillo', 10)
> Finished chain.

In [129]:
qns17 = db_chain.run("Find the customers who have made payments greater than the average payment amount")

> Entering new SQLDatabaseChain chain...
Find the customers who have made payments greater than the average payment amount
SQLQuery:SELECT customerNumber, SUM(amount) AS total_amount FROM payments GROUP BY customerNumber HAVING total_amount > (SELECT AVG(amount) FROM payments) ORDER BY total_amount DESC LIMIT 5
SQLResult: [(141, Decimal('715738.98')), (124, Decimal('584188.24')), (114, Decimal('180585.07')), (151, Decimal('177913.95')), (148, Decimal('156251.03'))]
Answer:141, 124, 114, 151, 148
> Finished chain.

# Few Shot Learning

In [151]:
few_shots = [
    {'Question' : "Get all orders placed by a specific customer where customer number is 103",
     'SQLQuery' : "SELECT * FROM orders WHERE customerNumber = 103",
     'SQLResult': "Result of the SQL query",
     'Answer' : qns1},
    {'Question': "Find all customers located in the USA",
     'SQLQuery':"SELECT * FROM customers WHERE country = 'USA'",
     'SQLResult': "Result of the SQL query",
     'Answer': qns2},
    {'Question': "Show the details of all offices",
     'SQLQuery' : "SELECT * FROM offices",
     'SQLResult': "Result of the SQL query",
     'Answer': qns3},
     {'Question' : "Find the total number of orders placed by each customer" ,
      'SQLQuery': "SELECT customerNumber, COUNT(orderNumber) AS totalOrders FROM orders GROUP BY customerNumber",
      'SQLResult': "Result of the SQL query",
      'Answer' : qns4},
    {'Question': "Get the average payment amount for customer 350",
     'SQLQuery' : "SELECT AVG(amount) FROM payments WHERE customerNumber = 350",
     'SQLResult': "Result of the SQL query",
     'Answer' : qns5},
    {'Question': "Find products with a price greater than $50",
     'SQLQuery' : "SELECT productCode, productName, productLine, productScale, productVendor, productDescription, quantityInStock, buyPrice, MSRP FROM products WHERE buyPrice > 50.00",
     'SQLResult': "Result of the SQL query",
     'Answer' : qns6},
    {'Question' : "Get the total number of products in each product line",
     'SQLQuery' : "SELECT productLine, COUNT(*) AS total_products FROM products GROUP BY productLine",
     'SQLResult': "Result of the SQL query",
     'Answer' : qns7},
    {'Question' : "Find the top 5 customers with the highest payment amounts",
     'SQLQuery' : "SELECT customerNumber, SUM(amount) AS total_amount FROM payments GROUP BY customerNumber ORDER BY total_amount DESC LIMIT 5",
     'SQLResult': "Result of the SQL query",
     'Answer' : qns8},
    {'Question' : "List the products that have not been ordered yet",
     'SQLQuery' : "SELECT productCode, productName, productLine, productScale, productVendor, productDescription, quantityInStock, buyPrice, MSRP FROM products WHERE productCode NOT IN (SELECT productCode FROM orderdetails)",
     'SQLResult': "Result of the SQL query",
     'Answer' : qns9},
    {'Question' : "Find the employee with the highest total sales",
     'SQLQuery' : "SELECT e.employeeNumber, e.firstName, e.lastName, SUM(p.amount) AS totalSales FROM employees e JOIN customers c ON e.employeeNumber = c.salesRepEmployeeNumber JOIN payments p ON c.customerNumber = p.customerNumber GROUP BY e.employeeNumber, e.firstName, e.lastName ORDER BY totalSales DESC LIMIT 1",
     'SQLResult': "Result of the SQL query",
     'Answer' : qns10},
    {'Question' : "Find the total sales amount (sum of payments) for each product line",
     'SQLQuery' : "SELECT productLine, SUM(amount) AS total_sales FROM payments JOIN orders ON payments.customerNumber = orders.customerNumber JOIN orderdetails ON orders.orderNumber = orderdetails.orderNumber JOIN products ON orderdetails.productCode = products.productCode GROUP BY productLine",
     'SQLResult': "Result of the SQL query",
     'Answer' : qns11},
    {'Question' : "List all employees who report to a specific manager (e.g., employee number 1143)",
     'SQLQuery' : "SELECT employeeNumber, lastName, firstName, jobTitle FROM employees WHERE reportsTo = 1143",
     'SQLResult': "Result of the SQL query",
     'Answer' : qns12},
    {'Question' : "Get the product lines that have more than 5 products",
     'SQLQuery' : "SELECT productLine FROM products GROUP BY productLine HAVING COUNT(*) > 5",
     'SQLResult': "Result of the SQL query",
     'Answer' : qns13},
    {'Question' : "List the top 3 products in terms of total quantity ordered",
     'SQLQuery' : "SELECT p.productName, SUM(od.quantityOrdered) AS totalQuantity FROM products p JOIN orderdetails od ON p.productCode = od.productCode GROUP BY p.productName ORDER BY totalQuantity DESC LIMIT 3",
     'SQLResult': "Result of the SQL query",
     'Answer' : qns14},
    {'Question' : "Find the customers who have not placed any orders in the current year",
     'SQLQuery' : "SELECT customerName FROM customers WHERE customerNumber NOT IN (SELECT customerNumber FROM orders WHERE orderDate BETWEEN '2023-01-01' AND CURDATE())",
     'SQLResult': "Result of the SQL query",
     'Answer' : qns15},
    {'Question' : "List the employees who have handled the highest number of distinct customers",
     'SQLQuery' : "SELECT e.employeeNumber, e.firstName, e.lastName, COUNT(DISTINCT c.customerNumber) AS customerCount FROM employees e JOIN customers c ON e.employeeNumber = c.salesRepEmployeeNumber GROUP BY e.employeeNumber, e.firstName, e.lastName ORDER BY customerCount DESC LIMIT 5",
     'SQLResult': "Result of the SQL query",
     'Answer' : qns16},
    {'Question' : "Find the customers who have made payments greater than the average payment amount",
     'SQLQuery' : "SELECT customerNumber, SUM(amount) AS total_amount FROM payments GROUP BY customerNumber HAVING total_amount > (SELECT AVG(amount) FROM payments) ORDER BY total_amount DESC LIMIT 5",
     'SQLResult': "Result of the SQL query",
     'Answer' : qns17}
    
]

In [152]:
from langchain.embeddings import HuggingFaceEmbeddings

In [153]:
embeddings = HuggingFaceEmbeddings(model_name='sentence-transformers/all-MiniLM-L6-v2')

In [154]:
e = embeddings.embed_query("List all employees who report to a specific manager (e.g., employee number 1143)")

In [155]:
e[:5]

[0.003385629039257765,
 -0.017234450206160545,
 -0.034911949187517166,
 0.0035126805305480957,
 0.0005981106660328805]

In [156]:
to_vectorize = [" ".join(example.values()) for example in few_shots]

In [157]:
to_vectorize

['Get all orders placed by a specific customer where customer number is 103 SELECT * FROM orders WHERE customerNumber = 103 Result of the SQL query 10123, 10298, 10345',
 "Find all customers located in the USA SELECT * FROM customers WHERE country = 'USA' Result of the SQL query customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit\n103,Atelier graphique,Schmitt,Carine ,40.32.2555,54,rue Royale,None,Nantes,None,44000,France,1370,21000.00",
 'Show the details of all offices SELECT * FROM offices Result of the SQL query jobTitle\ttotal_sales\nVP Sales\t21237.62\nVP Marketing\t1676.14\nPresident\t7743.62',
 'Find the total number of orders placed by each customer SELECT customerNumber, COUNT(orderNumber) AS totalOrders FROM orders GROUP BY customerNumber Result of the SQL query (124, 17)',
 'Get the average payment amount for customer 350 SELECT AVG(amount) FROM payments WHERE customerNumber = 350 Result of the SQL query 23849.176667',
 "Find products with a price greater than $50 SELECT productCode, productName, productLine, productScale, productVendor, productDescription, quantityInStock, buyPrice, MSRP FROM products WHERE buyPrice > 50.00 Result of the SQL query [['S10_1949', '1952 Alpine Renault 1300', 'Classic Cars', '1:10', 'Classic Metal Creations', 'Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening trunk; opening doors; and detailed chassis.', 7305, Decimal('98.58'), Decimal('214.30')], ['S10_2016', '1996 Moto Guzzi 1100i', 'Motorcycles', '1:10', 'Highway 66 Mini Classics', 'Official Moto Guzzi logos and insignias, saddle bags located on side of motorcycle, detailed engine, working steering, working suspension, two leather seats, luggage rack, dual exhaust pipes, small saddle bag located on handle bars, two-tone paint with chrome accents, superior die-cast detail , rotating wheels , working kick stand', 6625, Decimal('68.99'), Decimal('150.62')], ['S12_1099', '1968 Ford Mustang', 'Classic Cars', '1:12', 'Autoart Studio Design', 'Hood, doors and trunk all open to reveal highly detailed interior features. Steering wheel actually turns the front wheels. Color dark green.', 68, Decimal('95.34'), Decimal('194.57')], ['S12_1108', '2001 Ferrari Enzo', 'Classic Cars', '1:12', 'Second Gear Diecast', 'Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening trunk; opening doors; and detailed chassis.', 3619, Decimal('95.59'), Decimal('207.80')], ['S12_1666', '1958 Setra Bus', 'Trucks and Buses', '1:12', 'Welly Diecast Productions', 'Model features 30 windows, skylights & glare resistant glass, working steering system, original logos', 1579, Decimal('77.90'), Decimal('136.67')], ['S12_2319', '1964 Mercedes Tour Bus', 'Trucks and Buses', '1:12', 'Unimax Art Galleries', 'Exact replica. 100+ parts. working steering system, original logos', 8258, Decimal('74.86'), Decimal('122.73')], ['S12_2325', '1932 Model A Ford J-Coupe', 'Vintage Cars', '1:12', 'Autoart Studio Design', 'This model features grille-mounted chrome horn, lift-up louvered hood, fold-down rumble seat, working steering system, chrome-covered spare, opening doors, detailed engine and instrument panel', 9354, Decimal('58.48'), Decimal('127.13')], ['S12_2795', '1928 Mercedes-Benz SSK', 'Vintage Cars', '1:12', 'Gearbox Collectibles', 'This 1:12 replica features grille-mounted chrome horn, lift-up louvered hood, fold-down rumble seat, working steering system, chrome-covered spare, opening doors, detailed engine and instrument panel. Color black.', 548, Decimal('72.56'), Decimal('168.75')], ['S12_2870', '1999 Indy 500 Monte Carlo SS', 'Classic Cars', '1:12', 'Red Start Diecast', 'Features include opening and closing doors. Color: Red', 8164, Decimal('56.76'), Decimal('132.00')], ['S12_2949', '1913 Ford Model T Speedster', 'Vintage Cars', '1:",
 'Get the total number of products in each product line SELECT productLine, COUNT(*) AS total_products FROM products GROUP BY productLine Result of the SQL query Classic Cars 38, Motorcycles 13, Planes 12, Ships 9, Trains 3, Trucks and Buses 11, Vintage Cars 24',
 'Find the top 5 customers with the highest payment amounts SELECT customerNumber, SUM(amount) AS total_amount FROM payments GROUP BY customerNumber ORDER BY total_amount DESC LIMIT 5 Result of the SQL query 141, 124, 114, 151, 148',
 'List the products that have not been ordered yet SELECT productCode, productName, productLine, productScale, productVendor, productDescription, quantityInStock, buyPrice, MSRP FROM products WHERE productCode NOT IN (SELECT productCode FROM orderdetails) Result of the SQL query S18_3233 1985 Toyota Supra Classic Cars 1:18 Highway 66 Mini Classics',
 'Find the employee with the highest total sales SELECT e.employeeNumber, e.firstName, e.lastName, SUM(p.amount) AS totalSales FROM employees e JOIN customers c ON e.employeeNumber = c.salesRepEmployeeNumber JOIN payments p ON c.customerNumber = p.customerNumber GROUP BY e.employeeNumber, e.firstName, e.lastName ORDER BY totalSales DESC LIMIT 1 Result of the SQL query Gerard Hernandez',
 'Find the total sales amount (sum of payments) for each product line SELECT productLine, SUM(amount) AS total_sales FROM payments JOIN orders ON payments.customerNumber = orders.customerNumber JOIN orderdetails ON orders.orderNumber = orderdetails.orderNumber JOIN products ON orderdetails.productCode = products.productCode GROUP BY productLine Result of the SQL query Classic Cars: 195715285.48, Motorcycles: 48280743.43, Vintage Cars: 112040838.12, Planes: 44171665.16, Trucks and Buses: 65447435.69, Ships: 39892604.12, Trains: 19127343.02',
 'List all employees who report to a specific manager (e.g., employee number 1143) SELECT employeeNumber, lastName, firstName, jobTitle FROM employees WHERE reportsTo = 1143 Result of the SQL query employeeNumber, lastName, firstName, jobTitle\n1165, Jennings, Leslie, Sales Rep\n1166, Thompson, Leslie, Sales Rep\n1188, Firrelli, Julie, Sales Rep\n1216, Patterson, Steve, Sales Rep\n1286, Tseng, Foon Yue, Sales Rep\n1323, Vanauf, George, Sales Rep',
 'Get the product lines that have more than 5 products SELECT productLine FROM products GROUP BY productLine HAVING COUNT(*) > 5 Result of the SQL query Classic Cars, Motorcycles, Planes, Ships, Trucks and Buses, Vintage Cars',
 'List the top 3 products in terms of total quantity ordered SELECT p.productName, SUM(od.quantityOrdered) AS totalQuantity FROM products p JOIN orderdetails od ON p.productCode = od.productCode GROUP BY p.productName ORDER BY totalQuantity DESC LIMIT 3 Result of the SQL query 1992 Ferrari 360 Spider red, 1937 Lincoln Berline, American Airlines: MD-11S',
 "Find the customers who have not placed any orders in the current year SELECT customerName FROM customers WHERE customerNumber NOT IN (SELECT customerNumber FROM orders WHERE orderDate BETWEEN '2023-01-01' AND CURDATE()) Result of the SQL query Atelier graphique, Signal Gift Stores, Australian Collectors, Co., La Rochelle Gifts, Banee Mini Imports, Mini Gifts Distributors Ltd., Havel & Zbyszek Co, Blauer See Auto, Co., Mini Wheels Co., Land of Toys Inc., Euro+ Shopping Channel, Volvo Model Replicas, Co, Danish Wholesale Imports, Saveley & Henriot, Co., Dragon Souveniers, Ltd., Muscle Machine Inc, Diecast Classics Inc., Technics Stores Inc., Handji Gifts& Co, Herkku Gifts, American Souvenirs Inc, Porto Imports Co., Daedalus Designs Imports, La Corne D'abondance, Co., Cambridge Collectables Co., Gift Depot Inc., Osaka Souveniers Co., Vitachrome Inc., Toys of Finland, Co., AV Stores, Co., Clover Collections, Co., Auto-Moto Classics Inc., UK Collectables, Ltd., Canadian Gift Exchange Network, Online Mini Collectables, Toys4GrownUps.com, Asian Shopping Network, Co, Mini Caravy, King Kong Collectables, Co., Enaco Distributors, Boards & Toys Co., Natrlich Autos, Heintze Collectables, Qubec Home Shopping Network, ANG Resellers, Collectable Mini Designs Co., giftsbymail.co.uk, Alpha Cognac, Messner Shopping Network, Amica Models & Co., Lyon Souveniers, Auto Associs & Cie., Toms Spezialitten, Ltd, Royal Canadian Collectables, Ltd., Franken Gifts, Co, Anna's Decorations, Ltd, Rovelli Gifts, Souvenirs And Things Co., Marta's Replicas Co., BG&E Collectables, Vida Sport, Ltd, Norway Gifts By Mail, Co., Schuyler Imports, Der Hund Imports, Oulu Toy Supplies, Inc., Petit Auto, Mini Classics, Mini Creations Ltd., Corporate Gift Ideas Co., Down Under Souveniers, Inc, Stylish Desk Decors, Co., Tekni Collectables Inc., Australian Gift Network, Co, Suominen Souveniers, Cramer Spezialitten, Ltd, Classic Gift Ideas, Inc, CAF Imports, Men 'R' US Retailers, Ltd., Asian Treasures, Inc., Marseille Mini Autos, Reims Collectables, SAR Distributors, Co, GiftsForHim.com, Kommission Auto, Gifts4AllAges.com, Online Diecast Creations Co., Lisboa Souveniers, Inc, Precious Collectables, Collectables For Less Inc., Royale Belge, Salzburg Collectables, Cruz & Sons Co., L'ordine Souveniers, Tokyo Collectables, Ltd, Auto Canal+ Petit, Stuttgart Collectable Exchange, Extreme Desk Decorations, Ltd, Bavarian Collectables Imports, Co., Classic Legends Inc., Feuer Online Stores, Inc, Gift Ideas Corp., Scandinavian Gift Ideas, The Sharp Gifts Warehouse, Mini Auto Werke, Super Scale Inc., Microscale Inc., Corrida Auto Replicas, Ltd, Warburg Exchange, FunGiftIdeas.com, Anton Designs, Ltd., Australian Collectables, Ltd, Frau da Collezione, West Coast Collectables Co., Mit Vergngen & Co., Kremlin Collectables, Co., Raanan Stores, Inc, Iberia Gift Imports, Corp., Motor Mint Distributors Inc., Signal Collectibles Ltd., Double Decker Gift Stores, Ltd, Diecast Collectables, Kelly's Gift Shop",
 "List the employees who have handled the highest number of distinct customers SELECT e.employeeNumber, e.firstName, e.lastName, COUNT(DISTINCT c.customerNumber) AS customerCount FROM employees e JOIN customers c ON e.employeeNumber = c.salesRepEmployeeNumber GROUP BY e.employeeNumber, e.firstName, e.lastName ORDER BY customerCount DESC LIMIT 5 Result of the SQL query (1401, 'Pamela', 'Castillo', 10)",
 'Find the customers who have made payments greater than the average payment amount SELECT customerNumber, SUM(amount) AS total_amount FROM payments GROUP BY customerNumber HAVING total_amount > (SELECT AVG(amount) FROM payments) ORDER BY total_amount DESC LIMIT 5 Result of the SQL query 141, 124, 114, 151, 148']

In [158]:
from langchain.vectorstores import Chroma

In [50]:
!pip install chromadb==0.4.15

Requirement already satisfied: chromadb==0.4.15 in c:\users\home\anaconda3\lib\site-packages (0.4.15)
Requirement already satisfied: requests>=2.28 in c:\users\home\appdata\roaming\python\python311\site-packages (from chromadb==0.4.15) (2.32.2)
Requirement already satisfied: pydantic>=1.9 in c:\users\home\appdata\roaming\python\python311\site-packages (from chromadb==0.4.15) (2.7.1)
Requirement already satisfied: chroma-hnswlib==0.7.3 in c:\users\home\appdata\roaming\python\python311\site-packages (from chromadb==0.4.15) (0.7.3)
Requirement already satisfied: fastapi>=0.95.2 in c:\users\home\appdata\roaming\python\python311\site-packages (from chromadb==0.4.15) (0.111.0)
Requirement already satisfied: uvicorn>=0.18.3 in c:\users\home\appdata\roaming\python\python311\site-packages (from uvicorn[standard]>=0.18.3->chromadb==0.4.15) (0.29.0)
Requirement already satisfied: posthog>=2.4.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from chromadb==0.4.15) (3.5.0)
Requirement already satisfied: typing-extensions>=4.5.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from chromadb==0.4.15) (4.10.0)
Requirement already satisfied: pulsar-client>=3.1.0 in c:\users\home\anaconda3\lib\site-packages (from chromadb==0.4.15) (3.5.0)
Requirement already satisfied: onnxruntime>=1.14.1 in c:\users\home\appdata\roaming\python\python311\site-packages (from chromadb==0.4.15) (1.18.0)
Requirement already satisfied: opentelemetry-api>=1.2.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from chromadb==0.4.15) (1.24.0)
Requirement already satisfied: opentelemetry-exporter-otlp-proto-grpc>=1.2.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from chromadb==0.4.15) (1.24.0)
Requirement already satisfied: opentelemetry-sdk>=1.2.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from chromadb==0.4.15) (1.24.0)
Requirement already satisfied: tokenizers>=0.13.2 in c:\users\home\appdata\roaming\python\python311\site-packages (from chromadb==0.4.15) (0.15.2)
Requirement already satisfied: pypika>=0.48.9 in c:\users\home\appdata\roaming\python\python311\site-packages (from chromadb==0.4.15) (0.48.9)
Requirement already satisfied: tqdm>=4.65.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from chromadb==0.4.15) (4.66.4)
Requirement already satisfied: overrides>=7.3.1 in c:\users\home\appdata\roaming\python\python311\site-packages (from chromadb==0.4.15) (7.7.0)
Requirement already satisfied: importlib-resources in c:\users\home\appdata\roaming\python\python311\site-packages (from chromadb==0.4.15) (6.4.0)
Requirement already satisfied: grpcio>=1.58.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from chromadb==0.4.15) (1.64.0)
Requirement already satisfied: bcrypt>=4.0.1 in c:\users\home\appdata\roaming\python\python311\site-packages (from chromadb==0.4.15) (4.1.3)
Requirement already satisfied: typer>=0.9.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from chromadb==0.4.15) (0.12.3)
Requirement already satisfied: kubernetes>=28.1.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from chromadb==0.4.15) (29.0.0)
Requirement already satisfied: tenacity>=8.2.3 in c:\users\home\appdata\roaming\python\python311\site-packages (from chromadb==0.4.15) (8.3.0)
Requirement already satisfied: numpy>=1.22.5 in c:\users\home\appdata\roaming\python\python311\site-packages (from chromadb==0.4.15) (1.26.4)
Requirement already satisfied: starlette<0.38.0,>=0.37.2 in c:\users\home\appdata\roaming\python\python311\site-packages (from fastapi>=0.95.2->chromadb==0.4.15) (0.37.2)
Requirement already satisfied: fastapi-cli>=0.0.2 in c:\users\home\appdata\roaming\python\python311\site-packages (from fastapi>=0.95.2->chromadb==0.4.15) (0.0.4)
Requirement already satisfied: httpx>=0.23.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from fastapi>=0.95.2->chromadb==0.4.15) (0.27.0)
Requirement already satisfied: jinja2>=2.11.2 in c:\users\home\appdata\roaming\python\python311\site-packages (from fastapi>=0.95.2->chromadb==0.4.15) (3.1.4)
Requirement already satisfied: python-multipart>=0.0.7 in c:\users\home\appdata\roaming\python\python311\site-packages (from fastapi>=0.95.2->chromadb==0.4.15) (0.0.9)
Requirement already satisfied: ujson!=4.0.2,!=4.1.0,!=4.2.0,!=4.3.0,!=5.0.0,!=5.1.0,>=4.0.1 in c:\users\home\appdata\roaming\python\python311\site-packages (from fastapi>=0.95.2->chromadb==0.4.15) (5.10.0)
Requirement already satisfied: orjson>=3.2.1 in c:\users\home\appdata\roaming\python\python311\site-packages (from fastapi>=0.95.2->chromadb==0.4.15) (3.10.3)
Requirement already satisfied: email_validator>=2.0.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from fastapi>=0.95.2->chromadb==0.4.15) (2.1.1)
Requirement already satisfied: certifi>=14.05.14 in c:\users\home\appdata\roaming\python\python311\site-packages (from kubernetes>=28.1.0->chromadb==0.4.15) (2024.2.2)
Requirement already satisfied: six>=1.9.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from kubernetes>=28.1.0->chromadb==0.4.15) (1.16.0)
Requirement already satisfied: python-dateutil>=2.5.3 in c:\users\home\appdata\roaming\python\python311\site-packages (from kubernetes>=28.1.0->chromadb==0.4.15) (2.9.0.post0)
Requirement already satisfied: pyyaml>=5.4.1 in c:\users\home\appdata\roaming\python\python311\site-packages (from kubernetes>=28.1.0->chromadb==0.4.15) (6.0.1)
Requirement already satisfied: google-auth>=1.0.1 in c:\users\home\appdata\roaming\python\python311\site-packages (from kubernetes>=28.1.0->chromadb==0.4.15) (2.22.0)
Requirement already satisfied: websocket-client!=0.40.0,!=0.41.*,!=0.42.*,>=0.32.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from kubernetes>=28.1.0->chromadb==0.4.15) (1.8.0)
Requirement already satisfied: requests-oauthlib in c:\users\home\appdata\roaming\python\python311\site-packages (from kubernetes>=28.1.0->chromadb==0.4.15) (1.3.1)
Requirement already satisfied: oauthlib>=3.2.2 in c:\users\home\appdata\roaming\python\python311\site-packages (from kubernetes>=28.1.0->chromadb==0.4.15) (3.2.2)
Requirement already satisfied: urllib3>=1.24.2 in c:\users\home\appdata\roaming\python\python311\site-packages (from kubernetes>=28.1.0->chromadb==0.4.15) (1.26.18)
Requirement already satisfied: coloredlogs in c:\users\home\appdata\roaming\python\python311\site-packages (from onnxruntime>=1.14.1->chromadb==0.4.15) (15.0.1)
Requirement already satisfied: flatbuffers in c:\users\home\appdata\roaming\python\python311\site-packages (from onnxruntime>=1.14.1->chromadb==0.4.15) (23.5.26)
Requirement already satisfied: packaging in c:\users\home\appdata\roaming\python\python311\site-packages (from onnxruntime>=1.14.1->chromadb==0.4.15) (23.2)
Requirement already satisfied: protobuf in c:\users\home\appdata\roaming\python\python311\site-packages (from onnxruntime>=1.14.1->chromadb==0.4.15) (3.19.6)
Requirement already satisfied: sympy in c:\users\home\appdata\roaming\python\python311\site-packages (from onnxruntime>=1.14.1->chromadb==0.4.15) (1.12)
Requirement already satisfied: deprecated>=1.2.6 in c:\users\home\appdata\roaming\python\python311\site-packages (from opentelemetry-api>=1.2.0->chromadb==0.4.15) (1.2.14)
Requirement already satisfied: importlib-metadata<=7.0,>=6.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from opentelemetry-api>=1.2.0->chromadb==0.4.15) (7.0.0)
Requirement already satisfied: googleapis-common-protos~=1.52 in c:\users\home\appdata\roaming\python\python311\site-packages (from opentelemetry-exporter-otlp-proto-grpc>=1.2.0->chromadb==0.4.15) (1.63.0)
Requirement already satisfied: opentelemetry-exporter-otlp-proto-common==1.24.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from opentelemetry-exporter-otlp-proto-grpc>=1.2.0->chromadb==0.4.15) (1.24.0)
Requirement already satisfied: opentelemetry-proto==1.24.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from opentelemetry-exporter-otlp-proto-grpc>=1.2.0->chromadb==0.4.15) (1.24.0)
Requirement already satisfied: opentelemetry-semantic-conventions==0.45b0 in c:\users\home\appdata\roaming\python\python311\site-packages (from opentelemetry-sdk>=1.2.0->chromadb==0.4.15) (0.45b0)
Requirement already satisfied: monotonic>=1.5 in c:\users\home\appdata\roaming\python\python311\site-packages (from posthog>=2.4.0->chromadb==0.4.15) (1.6)
Requirement already satisfied: backoff>=1.10.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from posthog>=2.4.0->chromadb==0.4.15) (2.2.1)
Requirement already satisfied: annotated-types>=0.4.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from pydantic>=1.9->chromadb==0.4.15) (0.7.0)
Requirement already satisfied: pydantic-core==2.18.2 in c:\users\home\appdata\roaming\python\python311\site-packages (from pydantic>=1.9->chromadb==0.4.15) (2.18.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\home\appdata\roaming\python\python311\site-packages (from requests>=2.28->chromadb==0.4.15) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\home\appdata\roaming\python\python311\site-packages (from requests>=2.28->chromadb==0.4.15) (2.10)
Requirement already satisfied: huggingface_hub<1.0,>=0.16.4 in c:\users\home\appdata\roaming\python\python311\site-packages (from tokenizers>=0.13.2->chromadb==0.4.15) (0.20.3)
Requirement already satisfied: colorama in c:\users\home\appdata\roaming\python\python311\site-packages (from tqdm>=4.65.0->chromadb==0.4.15) (0.4.6)
Requirement already satisfied: click>=8.0.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from typer>=0.9.0->chromadb==0.4.15) (8.1.7)
Requirement already satisfied: shellingham>=1.3.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from typer>=0.9.0->chromadb==0.4.15) (1.5.4)
Requirement already satisfied: rich>=10.11.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from typer>=0.9.0->chromadb==0.4.15) (13.7.1)
Requirement already satisfied: h11>=0.8 in c:\users\home\appdata\roaming\python\python311\site-packages (from uvicorn>=0.18.3->uvicorn[standard]>=0.18.3->chromadb==0.4.15) (0.14.0)
Requirement already satisfied: httptools>=0.5.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from uvicorn[standard]>=0.18.3->chromadb==0.4.15) (0.6.1)
Requirement already satisfied: python-dotenv>=0.13 in c:\users\home\appdata\roaming\python\python311\site-packages (from uvicorn[standard]>=0.18.3->chromadb==0.4.15) (1.0.0)
Requirement already satisfied: watchfiles>=0.13 in c:\users\home\appdata\roaming\python\python311\site-packages (from uvicorn[standard]>=0.18.3->chromadb==0.4.15) (0.21.0)
Requirement already satisfied: websockets>=10.4 in c:\users\home\appdata\roaming\python\python311\site-packages (from uvicorn[standard]>=0.18.3->chromadb==0.4.15) (10.4)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\home\appdata\roaming\python\python311\site-packages (from deprecated>=1.2.6->opentelemetry-api>=1.2.0->chromadb==0.4.15) (1.16.0)
Requirement already satisfied: dnspython>=2.0.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from email_validator>=2.0.0->fastapi>=0.95.2->chromadb==0.4.15) (2.6.1)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from google-auth>=1.0.1->kubernetes>=28.1.0->chromadb==0.4.15) (5.3.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\home\appdata\roaming\python\python311\site-packages (from google-auth>=1.0.1->kubernetes>=28.1.0->chromadb==0.4.15) (0.4.0)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\home\appdata\roaming\python\python311\site-packages (from google-auth>=1.0.1->kubernetes>=28.1.0->chromadb==0.4.15) (4.9)
Requirement already satisfied: anyio in c:\users\home\appdata\roaming\python\python311\site-packages (from httpx>=0.23.0->fastapi>=0.95.2->chromadb==0.4.15) (4.3.0)
Requirement already satisfied: httpcore==1.* in c:\users\home\appdata\roaming\python\python311\site-packages (from httpx>=0.23.0->fastapi>=0.95.2->chromadb==0.4.15) (1.0.5)
Requirement already satisfied: sniffio in c:\users\home\appdata\roaming\python\python311\site-packages (from httpx>=0.23.0->fastapi>=0.95.2->chromadb==0.4.15) (1.3.1)
Requirement already satisfied: filelock in c:\users\home\appdata\roaming\python\python311\site-packages (from huggingface_hub<1.0,>=0.16.4->tokenizers>=0.13.2->chromadb==0.4.15) (3.14.0)
Requirement already satisfied: fsspec>=2023.5.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from huggingface_hub<1.0,>=0.16.4->tokenizers>=0.13.2->chromadb==0.4.15) (2024.2.0)
Requirement already satisfied: zipp>=0.5 in c:\users\home\appdata\roaming\python\python311\site-packages (from importlib-metadata<=7.0,>=6.0->opentelemetry-api>=1.2.0->chromadb==0.4.15) (3.18.2)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from jinja2>=2.11.2->fastapi>=0.95.2->chromadb==0.4.15) (2.1.5)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from rich>=10.11.0->typer>=0.9.0->chromadb==0.4.15) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\home\appdata\roaming\python\python311\site-packages (from rich>=10.11.0->typer>=0.9.0->chromadb==0.4.15) (2.18.0)
Requirement already satisfied: humanfriendly>=9.1 in c:\users\home\appdata\roaming\python\python311\site-packages (from coloredlogs->onnxruntime>=1.14.1->chromadb==0.4.15) (10.0)
Requirement already satisfied: mpmath>=0.19 in c:\users\home\appdata\roaming\python\python311\site-packages (from sympy->onnxruntime>=1.14.1->chromadb==0.4.15) (1.3.0)
Requirement already satisfied: pyreadline3 in c:\users\home\appdata\roaming\python\python311\site-packages (from humanfriendly>=9.1->coloredlogs->onnxruntime>=1.14.1->chromadb==0.4.15) (3.4.1)
Requirement already satisfied: mdurl~=0.1 in c:\users\home\appdata\roaming\python\python311\site-packages (from markdown-it-py>=2.2.0->rich>=10.11.0->typer>=0.9.0->chromadb==0.4.15) (0.1.2)
Requirement already satisfied: pyasn1<0.7.0,>=0.4.6 in c:\users\home\appdata\roaming\python\python311\site-packages (from pyasn1-modules>=0.2.1->google-auth>=1.0.1->kubernetes>=28.1.0->chromadb==0.4.15) (0.6.0)

In [159]:
vectorstore = Chroma.from_texts(to_vectorize, embedding=embeddings, metadatas=few_shots)

In [160]:
from langchain.prompts import SemanticSimilarityExampleSelector

In [161]:
example_selector = SemanticSimilarityExampleSelector(
    vectorstore=vectorstore,
    k=2,
)

example_selector.select_examples({"Question": "List the employees who have handled the highest number of distinct customers"})

[{'Answer': "(1401, 'Pamela', 'Castillo', 10)",
  'Question': 'List the employees who have handled the highest number of distinct customers',
  'SQLQuery': 'SELECT e.employeeNumber, e.firstName, e.lastName, COUNT(DISTINCT c.customerNumber) AS customerCount FROM employees e JOIN customers c ON e.employeeNumber = c.salesRepEmployeeNumber GROUP BY e.employeeNumber, e.firstName, e.lastName ORDER BY customerCount DESC LIMIT 5',
  'SQLResult': 'Result of the SQL query'},
 {'Answer': "(1401, 'Pamela', 'Castillo', 10)",
  'Question': 'List the employees who have handled the highest number of distinct customers',
  'SQLQuery': 'SELECT e.employeeNumber, e.firstName, e.lastName, COUNT(DISTINCT c.customerNumber) AS customerCount FROM employees e JOIN customers c ON e.employeeNumber = c.salesRepEmployeeNumber GROUP BY e.employeeNumber, e.firstName, e.lastName ORDER BY customerCount DESC LIMIT 5',
  'SQLResult': 'Result of the SQL query'}]

In [162]:
from langchain.chains.sql_database.prompt import PROMPT_SUFFIX, _mysql_prompt

In [163]:
print(_mysql_prompt)

You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

In [164]:
print(PROMPT_SUFFIX)

Only use the following tables:
{table_info}

Question: {input}

In [165]:
from langchain.prompts.prompt import PromptTemplate

example_prompt = PromptTemplate(
    input_variables=["Question", "SQLQuery", "SQLResult","Answer",],
    template="\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}",
)

In [166]:
from langchain.prompts import FewShotPromptTemplate

few_shot_prompt = FewShotPromptTemplate(
    example_selector=example_selector,
    example_prompt=example_prompt,
    prefix=_mysql_prompt,
    suffix=PROMPT_SUFFIX,
    input_variables=["input", "table_info", "top_k"], #These variables are used in the prefix and suffix
)

In [167]:
new_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True, prompt=few_shot_prompt)

In [168]:
new_chain("Get the average payment amount for customer 350")

> Entering new SQLDatabaseChain chain...
Get the average payment amount for customer 350
SQLQuery:SELECT AVG(amount) FROM payments WHERE customerNumber = 350
SQLResult: [(Decimal('23849.176667'),)]
Answer:23849.176667
> Finished chain.

{'query': 'Get the average payment amount for customer 350',
 'result': '23849.176667'}

In [39]:
new_chain("How much is the price of the inventory for all small size t-shirts?")

> Entering new SQLDatabaseChain chain...
How much is the price of the inventory for all small size t-shirts?
SQLQuery:SELECT sum(price * stock_quantity) FROM t_shirts WHERE size = 'S'
SQLResult: [(Decimal('29379'),)]
Answer:29379
> Finished chain.

{'query': 'How much is the price of the inventory for all small size t-shirts?',
 'result': '29379'}

In [169]:
new_chain("List the employees who have handled the highest number of distinct customers")

> Entering new SQLDatabaseChain chain...
List the employees who have handled the highest number of distinct customers
SQLQuery:SELECT e.employeeNumber, e.firstName, e.lastName, COUNT(DISTINCT c.customerNumber) AS customerCount FROM employees e JOIN customers c ON e.employeeNumber = c.salesRepEmployeeNumber GROUP BY e.employeeNumber, e.firstName, e.lastName ORDER BY customerCount DESC LIMIT 5
SQLResult: [(1401, 'Pamela', 'Castillo', 10), (1504, 'Barry', 'Jones', 9), (1501, 'Larry', 'Bott', 8), (1323, 'George', 'Vanauf', 8), (1286, 'Foon Yue', 'Tseng', 7)]
Answer:(1401, 'Pamela', 'Castillo', 10)
> Finished chain.

{'query': 'List the employees who have handled the highest number of distinct customers',
 'result': "(1401, 'Pamela', 'Castillo', 10)"}

In [170]:
new_chain("Find the employee with the highest total sales")

> Entering new SQLDatabaseChain chain...
Find the employee with the highest total sales
SQLQuery:SELECT e.employeeNumber, e.firstName, e.lastName, SUM(p.amount) AS totalSales FROM employees e JOIN customers c ON e.employeeNumber = c.salesRepEmployeeNumber JOIN payments p ON c.customerNumber = p.customerNumber GROUP BY e.employeeNumber, e.firstName, e.lastName ORDER BY totalSales DESC LIMIT 1
SQLResult: [(1370, 'Gerard', 'Hernandez', Decimal('1112003.81'))]
Answer:Gerard Hernandez
> Finished chain.

{'query': 'Find the employee with the highest total sales',
 'result': 'Gerard Hernandez'}

In [171]:
new_chain("Show the details of all offices")

> Entering new SQLDatabaseChain chain...
Show the details of all offices
SQLQuery:SELECT * FROM offices
SQLResult: [('1', 'San Francisco', '+1 650 219 4782', '100 Market Street', 'Suite 300', 'CA', 'USA', '94080', 'NA'), ('2', 'Boston', '+1 215 837 0825', '1550 Court Place', 'Suite 102', 'MA', 'USA', '02107', 'NA'), ('3', 'NYC', '+1 212 555 3000', '523 East 53rd Street', 'apt. 5A', 'NY', 'USA', '10022', 'NA'), ('4', 'Paris', '+33 14 723 4404', "43 Rue Jouffroy D'abbans", None, None, 'France', '75017', 'EMEA'), ('5', 'Tokyo', '+81 33 224 5000', '4-1 Kioicho', None, 'Chiyoda-Ku', 'Japan', '102-8578', 'Japan'), ('6', 'Sydney', '+61 2 9264 2451', '5-11 Wentworth Avenue', 'Floor #2', None, 'Australia', 'NSW 2010', 'APAC'), ('7', 'London', '+44 20 7877 2041', '25 Old Broad Street', 'Level 7', None, 'UK', 'EC2N 1HN', 'EMEA')]
Answer:officeCode	city	phone	addressLine1	addressLine2	state	country	postalCode	territory
1	San Francisco	+1 650 219 4782	100 Market Street	Suite 300	CA	USA	94080	NA
2	Boston	+1 215 837 0825	1550 Court Place	Suite 102	MA	USA	02107	NA
3	NYC	+1 212 555 3000	523 East 53rd Street	apt. 5A	NY	USA	10022	NA
4	Paris	+33 14 723 4404	"43 Rue Jouffroy D'abbans"	None	None	France	75017	EMEA
5	Tokyo	+81 33 224 5000	4-1 Kioicho	None	Chiyoda-Ku	Japan	102-8578	Japan
6	Sydney	+61 2 9264 2451	5-11 Wentworth Avenue	Floor #2	None	Australia	NSW 2010	APAC
7	London	+44 20 7877 2041	25 Old Broad Street	Level 7	None	UK	EC2N 1HN	EMEA
> Finished chain.

{'query': 'Show the details of all offices',
 'result': 'officeCode\tcity\tphone\taddressLine1\taddressLine2\tstate\tcountry\tpostalCode\tterritory\n1\tSan Francisco\t+1 650 219 4782\t100 Market Street\tSuite 300\tCA\tUSA\t94080\tNA\n2\tBoston\t+1 215 837 0825\t1550 Court Place\tSuite 102\tMA\tUSA\t02107\tNA\n3\tNYC\t+1 212 555 3000\t523 East 53rd Street\tapt. 5A\tNY\tUSA\t10022\tNA\n4\tParis\t+33 14 723 4404\t"43 Rue Jouffroy D\'abbans"\tNone\tNone\tFrance\t75017\tEMEA\n5\tTokyo\t+81 33 224 5000\t4-1 Kioicho\tNone\tChiyoda-Ku\tJapan\t102-8578\tJapan\n6\tSydney\t+61 2 9264 2451\t5-11 Wentworth Avenue\tFloor #2\tNone\tAustralia\tNSW 2010\tAPAC\n7\tLondon\t+44 20 7877 2041\t25 Old Broad Street\tLevel 7\tNone\tUK\tEC2N 1HN\tEMEA'}

In [172]:
new_chain.run('Find the total number of orders placed by each customer')

> Entering new SQLDatabaseChain chain...
Find the total number of orders placed by each customer
SQLQuery:SELECT customerNumber, count(*) AS numOrders FROM orders GROUP BY customerNumber
SQLResult: [(103, 3), (112, 3), (114, 5), (119, 4), (121, 4), (124, 17), (128, 4), (129, 3), (131, 4), (141, 26), (144, 4), (145, 5), (146, 3), (148, 5), (151, 4), (157, 4), (161, 4), (166, 4), (167, 3), (171, 2), (172, 3), (173, 2), (175, 3), (177, 2), (181, 3), (186, 3), (187, 3), (189, 2), (198, 3), (201, 3), (202, 2), (204, 2), (205, 3), (209, 3), (211, 2), (216, 3), (219, 2), (227, 2), (233, 3), (239, 2), (240, 2), (242, 3), (249, 2), (250, 3), (256, 2), (259, 2), (260, 2), (276, 4), (278, 3), (282, 4), (286, 2), (298, 2), (299, 2), (311, 3), (314, 3), (319, 2), (320, 3), (321, 4), (323, 5), (324, 3), (328, 3), (333, 3), (334, 3), (339, 2), (344, 2), (347, 2), (350, 3), (353, 5), (357, 3), (362, 3), (363, 3), (379, 3), (381, 4), (382, 4), (385, 3), (386, 3), (398, 4), (406, 3), (412, 3), (415, 1), (424, 3), (447, 3), (448, 3), (450, 4), (452, 3), (455, 2), (456, 2), (458, 3), (462, 3), (471, 3), (473, 2), (475, 2), (484, 2), (486, 3), (487, 2), (489, 2), (495, 2), (496, 4)]
Answer:(124, 17)
> Finished chain.

'(124, 17)'

In [173]:
new_chain.run('List the products that have not been ordered yet')

> Entering new SQLDatabaseChain chain...
List the products that have not been ordered yet
SQLQuery:SELECT productName FROM products WHERE productCode NOT IN (SELECT productCode FROM orderdetails)
SQLResult: [('1985 Toyota Supra',)]
Answer:1985 Toyota Supra
> Finished chain.

'1985 Toyota Supra'